@charset "UTF-8";


@font-face {
  font-family: "kamashka-font-8";
  src: url("fonts/kamashka-font-8.eot");
  src: url("fonts/kamashka-font-8.eot?#iefix") format("embedded-opentype"),
      url("fonts/kamashka-font-8.woff") format("woff"), url("fonts/kamashka-font-8.ttf") format("truetype"),
      url("fonts/kamashka-font-8.svg#kamashka-font-8") format("svg");
  font-weight: normal;
  font-style: normal;
}


[data-icon]:before {
  font-family: "kamashka-font-8" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "kamashka-font-8" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}






.icon-gplus:before {
  content: "\63";
}
.icon-pinterest:before {
  content: "\61";
}
.icon-cart:before {
  content: "\62";
}
.icon-chat:before {
  content: "\64";
}
.icon-close:before {
  content: "\65";
}
.icon-expand:before {
  content: "\66";
}
.icon-eye:before {
  content: "\67";
}
.icon-lock:before {
  content: "\69";
}
.icon-meni-icon:before {
  content: "\6a";
}
.icon-search:before {
  content: "\6b";
}
.icon-share:before {
  content: "\6c";
}
.icon-user:before {
  content: "\6d";
}
.icon-heart:before {
  content: "\68";
}
.icon-adv:before {
  content: "\6e";
}
.icon-bell:before {
  content: "\6f";
}
.icon-filter:before {
  content: "\70";
}
.icon-returns:before {
  content: "\73";
}
.icon-qmark:before {
  content: "\74";
}
.icon-deliver:before {
  content: "\76";
}
.icon-check-form:before {
  content: "\79";
}
.icon-bell2:before {
  content: "\7a";
}
.icon-language:before {
  content: "\42";
}
.icon-wallet:before {
  content: "\43";
}
.icon-headphone:before {
  content: "\71";
}
.icon-envelope:before {
  content: "\72";
}
.icon-envelope-1:before {
  content: "\75";
}
.icon-payment:before {
  content: "\77";
}
.icon-orders:before {
  content: "\78";
}
.icon-help:before {
  content: "\41";
}
.icon-filter2:before {
  content: "\44";
}
.icon-sharing:before {
  content: "\45";
}
.icon-shield:before {
  content: "\46";
}
.icon-edit:before {
  content: "\47";
}
.icon-copy:before {
  content: "\48";
}
.icon-report:before {
  content: "\4a";
}
.icon-deal-accept-post-approved:before {
  content: "\4b";
}
.icon-deal-pending:before {
  content: "\4c";
}
.icon-deal-received:before {
  content: "\4d";
}
.icon-deal-updated:before {
  content: "\4e";
}
.icon-post-rejected:before {
  content: "\4f";
}
.icon-tag:before {
  content: "\51";
}
.icon-location-pin:before {
  content: "\52";
}
.icon-discount:before {
  content: "\53";
}
.icon-heart-solid:before {
  content: "\49";
}
.icon-order:before {
  content: "\50";
}
