//////////////////////////////////////////// HOMEPAGE STYLE START

body.fullscreen {
    #top-header {
        display: none;
    }
    .page-content.homepage {
        height: 100%;
        .swiper-main-container {
            .swiper-slide {
                max-height: 100vh;
            }
            .swiper-arrows-container {
                right: 120px;
            }
            .expand-video-container {
                right: 110px;
            }
        }
    }
}

.expand-video-container {
    position: absolute;
    top: 10px;
    right: 130px;
    z-index: 9;

    .icon-container {
        background: #fff;
        color: #3c3c3c;
        font-size: 16px;
        border-radius: 500px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        i {
            margin-top: 4px;
        }
    }
}

.homepage {
    background: #000;
    color: #fff;
    height: calc(100% - 58px);

    .homepage-content {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;

        .slick-slider .slick-list,
        .slick-slider .slick-track {
            margin: 0;
        }

        .homepage-slick-slider,
        #homepage-bootstrap-slider,
        .owl-main-home-carousel,
        .swiper-main-home-slider {
            .carousel-item-content {
                display: flex;
                justify-content: center;
                flex-direction: row;
                height: 100%;

                .icons-container {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 0 20px;
                    width: auto;
                    .video-icons {
                        font-size: 26px;
                        p {
                            font-size: 14px;
                        }
                        ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            li {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                margin-bottom: 20px;
                                i.icon-chat {
                                    cursor: pointer;
                                }
                                i.toggle-like-btn {
                                    cursor: pointer;
                                    &.icon-heart-solid {
                                        color: var(--dangerColor);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .data-section {
            width: 40%;

            .brand-header {
                margin: 15px 0;
                .brand-logo {
                    img {
                        width: 60px;
                        border-radius: 250px;
                    }
                }
                .follow-btn {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 100%;
                }

                h3 {
                    font-size: 24px;
                    text-transform: capitalize;
                    display: flex;
                    img {
                        margin-left: 10px;
                        width: 15px;
                    }
                }
                p {
                    margin-bottom: 2px;
                }
            }

            .brand-slider-container {
                .item {
                    height: 215px;
                    overflow: hidden;
                    padding: 0 5px;
                    position: relative;
                    img {
                        height: 100%;
                    }

                    .video-item {
                        video {
                            width: 100% !important;
                            background: #414141;
                        }
                        .video-overlay {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                                width: 50px !important;
                                height: auto;
                                filter: drop-shadow(2px 4px 6px rgba(73, 73, 73, 0.3));
                            }
                        }
                    }
                }
            }

            .brand-details {
                .brand-details-text {
                    max-height: 140px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    h4 {
                        font-size: 21px;
                    }
                }
                .buttons.tags a {
                    padding: 3px 10px !important;
                    font-size: 13px;
                    background: #ffdcc9;
                    color: #3f3f3f !important;
                    &:hover {
                        color: #ffffff !important;
                        background: var(--secondaryColor) !important;
                    }
                }
            }

            .share {
                .images {
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        li {
                            margin-right: 5px;
                            a {
                                img {
                                    width: 50px;
                                    border-radius: 250px;
                                }
                                .num {
                                    background: #fff;
                                    color: #3f3f3f;
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 500px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 12px;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
                .buttons {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    .btn {
                        color: var(--secondaryColor);
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .video-section {
            width: 60%;
            background-image: url(../img/shadow-wallpaper.jpg);
            background-size: 100% 100%;
            position: relative;

            .shadow {
                background: linear-gradient(
                    90deg,
                    rgba(0, 0, 0, 1) 0%,
                    rgba(0, 0, 0, 0.5) 20%,
                    rgba(255, 255, 255, 0) 60%,
                    rgba(0, 0, 0, 0.5) 80%,
                    rgba(0, 0, 0, 1) 100%
                );
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 1;
            }

            .video-section-content {
                z-index: 2;
                color: #fff;
                font-size: 55px;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .video-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    width: 360px;
                    height: 635px;
                    overflow: hidden;

                    video {
                        cursor: pointer !important;
                    }
                    .video-overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;

                        img {
                            width: 110px;
                            filter: drop-shadow(2px 4px 6px rgba(73, 73, 73, 0.7));
                            transition: var(--mainTransition);
                            &.hidden {
                                // transform: scale(5);
                                opacity: 0;
                                transition: var(--mainTransition);
                            }
                        }
                    }
                }
            }
        }

        .matched-criteria-container {
            position: absolute;
            bottom: 30px;
            right: 30px;
            z-index: 9999;
            .popup-toggle {
                margin-left: auto;
                width: auto;
                border-radius: 25px;
                font-size: 12px;
                padding: 0;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    color: #3f3f3f;
                    background: #fff;
                    padding: 4px;
                    border-radius: 3px;
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
        }

        #matched-criteria-modal-btn {
            cursor: pointer;
        }
    }
}

.right-menu-container {
    position: absolute;
    right: 0;
    top: 0;
    background: RGBA(0, 0, 0, 0.9);
    width: 100%;
    z-index: 99;
    height: 100%;
    display: none;

    &.show {
        display: flex;
    }

    .right-menu {
        background: #fff;
        width: 35%;
        margin-left: auto;
        color: var(--darkGray);
        height: 100%;
        .right-menu-header {
            display: flex;
            justify-content: center;
            position: relative;
            padding: 20px;
            font-weight: bold;
            .title {
                margin: 0;
            }
            i.icon-close {
                position: absolute;
                top: 0;
                left: 0;
                padding: 15px;
                cursor: pointer;
                margin: 5px;
            }
        }

        .right-menu-content {
            height: calc(100% - 156px);
            border-top: 1px solid #f1f1f1;
            border-bottom: 1px solid #f1f1f1;

            .all-comments {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                width: 100%;
                padding: 0 15px 0 5px;
                height: 100%;
                overflow: auto;

                .one-comment {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-bottom: 10px;
                    border-bottom: 1px solid #f1f1f1;
                    padding: 10px 0;
                    position: relative;

                    .image-container {
                        width: 20%;
                        padding: 0 20px;
                        img {
                            border-radius: 500px;
                        }
                    }
                    .name-and-comment {
                        width: 60%;
                        p.name {
                            margin: 0;
                            margin-bottom: 5px;
                            img {
                                margin-left: 5px;
                            }
                        }
                        p.comment {
                            margin: 0;
                            font-size: 12px;
                        }
                        .edit-container {
                            display: none;
                            position: relative;
                            border-radius: 8px;
                            overflow: hidden;
                            padding-right: 45px;
                            textarea.form-control {
                                height: 55px;
                            }

                            // input {
                            //     padding: 5px;
                            //     font-size: 12px;
                            //     padding-right: 10px;
                            // }

                            button {
                                position: absolute;
                                top: 0;
                                right: 0px;
                                color: #fff;
                                background: #131a45;
                                height: 55px;
                                width: 60px;
                            }
                        }

                        &.edit-mood {
                            p.comment {
                                display: none;
                            }

                            .edit-container {
                                display: block;
                                input {
                                }
                            }
                        }
                    }

                    .comment-copied {
                        color: var(--successColor);
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        background: #fff;
                        box-shadow: var(--mainBoxShadow);
                        padding: 5px;
                        border-radius: 5px;
                        border: 1px solid #f1f1f1;
                        display: none;
                    }

                    .actions {
                        width: 20%;
                        text-align: right;
                        i.fa-ellipsis-h {
                            font-size: 18px;
                            padding: 5px 0;
                        }
                        .date {
                            font-size: 12px;
                            margin: 0;
                        }
                    }

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
        .right-menu-footer {
            background: var(--mainColor);
            padding: 15px 0;

            .add-comment-container {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 15px 0 5px;
                width: 100%;

                .image {
                    width: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        border-radius: 500px;
                        padding: 10px;
                        width: 65px;
                        height: 65px;
                    }
                }

                .add-comment-wrapper {
                    display: flex;
                    justify-content: space-between;

                    .comment-input-container {
                        width: 85%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0;
                        input {
                            font-size: 12px;
                        }
                    }

                    .send-comment-container {
                        width: 15%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        i.fa {
                            background: var(--secondaryColor);
                            border-radius: 500px;
                            color: var(--mainColor);
                            width: 35px;
                            height: 35px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 18px;
                            cursor: pointer;
                        }
                    }
                }
            }

            .if-not-login {
                background: #ffffff;
                text-align: center;
                min-height: 65px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
            }
        }
    }
}

#share-modal {
    .modal-content {
        text-align: center;
    }
    .share-icons-container {
        .share-icons-list {
            display: flex;
            justify-content: center;
            align-items: center;
            .icon {
                width: 60px;
                height: 60px;
                justify-content: center;
                align-items: center;
                display: flex;
                border-radius: 500px;
                margin: 0 20px;
                font-size: 26px;
                color: var(--secondaryColor);
                border: 1px solid #d3d3d3;
            }
        }
    }
    .image {
        img {
            width: 270px;
        }
    }
}

#report-modal {
    .report-container {
        text-align: left;
        width: 70%;
        margin: auto;
        .other-reason-container textarea {
            height: 80px;
        }
    }
}

#delete-modal {
    p {
        font-size: 22px;
    }
}

#create-modal {
    .one-item {
        padding: 30px;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            p {
                font-size: 22px;
                margin: 20px 0;
                color: var(--darkGray);
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    margin: 0 10px;
                }
            }
        }
    }
}

//////////////////////////////////////////// HOMEPAGE STYLE END

// NEW SWIPER STYLE START
