:root {
    --mainColor: #131a45;
    --secondaryColor: #fa935b;
    --successColor: #40cd86;
    --dangerColor: #ff3c3c;
    --gray: #f5f7f9;
    --darkGray: #666666;
    --mainBoxShadow: rgba(0, 0, 0, 5%) 0px 1px 1px, rgba(0, 0, 0, 5%) 0px 2px 2px, rgba(0, 0, 0, 5%) 0px 4px 4px,
        rgba(0, 0, 0, 5%) 0px 8px 8px, rgba(0, 0, 0, 5%) 0px 16px 16px;
    --grayBoxShadow: 0 0 5px #ededed;
    --mainTransition: all 0.2s ease;
}

// Small Laptop Media
@media all and (max-width: 900px) {
    div#matched-criteria-modal {
        .all-items {
            max-height: 380px;
            overflow: auto;
        }
        .modal-header h6 {
            font-size: 24px;
        }
        .modal-body {
            font-size: 12px;
        }
    }
    div#expand-video {
        display: none;
    }

    .swiper-main-container {
        height: 93vh;
        width: 100vw;

        .swiper .swiper-slide-active {
            max-height: none;
        }

        .swiper-arrows-container {
            top: 200px !important;
            display: none;
        }
    }

    .page-content {
        padding-top: 60px !important;
        height: 100%;
    }

    .container {
        max-width: 1000px;
        height: unset;
        padding: 0px !important;
    }

    .mobile-menu {
        position: absolute;
        width: 100%;
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 0px;
        z-index: 9;
        // background: #FFF;

        &.mobile-menu-light {
            i.icon.icon-menu-icon-2 {
                color: #fff;
                text-shadow: 0 0 3px rgb(26, 26, 26);
            }
        }

        .mobile-icon-container {
            padding: 10px;
            width: 140px;
        }
        .icon {
            color: #000;
            font-size: 28px;
            padding: 10px;
            cursor: pointer;
            .count-container {
                background: #fff;
                color: #000;
                padding: 5px 17px;
                width: fit-content;
                border-radius: 10px;
                font-weight: bold;
                font-size: 13px;
                img {
                    width: 15px;
                    margin-right: 3px;
                }
            }
        }
        .menu {
            flex-direction: row;
            text-align: center;
            margin: auto;
            justify-content: center;
        }

        // .mobile-icon-container {
        //     i.icon {
        //         color: #fff;
        //         text-shadow: 0 0 3px rgb(26, 26, 26);
        //     }
        // }
    }

    .mobile-left-menu {
        background: var(--mainColor);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        display: none;
        &.show {
            display: block;
        }

        .menu-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo-container .logo {
                width: 190px;
                padding: 10px;
            }
            .btn-and-close {
                a.btn {
                    color: #fff !important;
                }
                i.icon.icon-close {
                    color: #fff;
                    padding: 20px;
                    margin-left: 20px;
                }
            }
        }

        .menu-icons-container {
            position: relative;
            border: 1px solid #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px 0 5px;

            .user-icons {
                width: 60px;
                .language-btn::after {
                    color: #fff;
                    position: absolute;
                    top: 10px;
                    left: -10px;
                    display: block;
                }
            }
            ul.menu-icons {
                display: flex;
                li {
                    a {
                        color: #fff;
                        padding: 10px;
                        font-size: 30px;
                        margin: 0 5px;
                        display: flex;
                        cursor: pointer;
                        position: relative;
                        span.number {
                            position: absolute;
                            background: var(--secondaryColor);
                            width: 17px;
                            height: 17px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50px;
                            font-size: 10px;
                            cursor: pointer;
                            top: 3px;
                            right: -3px !important;
                        }
                    }
                }
            }

            .dropdown-toggle::after {
                display: none;
            }

            .dropdown-menu.user {
                a.btn {
                    text-align: center !important;
                    justify-content: center;
                    align-items: center;
                }
                a.btn.btn-custom2 {
                    color: #fa935b !important;
                }
            }
        }

        .menu-links-container {
            margin-top: 10px;
            ul {
                li {
                    margin: 10px 0;
                    a {
                        color: #fff;
                        padding: 10px 20px;
                        display: flex;
                        font-size: 18px;
                    }
                }
            }
        }

        .search-container {
            padding: 10px;
            display: none;
            &.show {
                display: flex;
                width: 100%;
            }
            input.form-control {
                background: RGBA(0, 0, 0, 0.3);
                border-color: #ffffff55;
                color: #fff;
            }
        }

        .social-media-container {
            border-top: 1px solid #fff;
            padding: 20px;
            position: absolute;
            width: 100%;
            bottom: 0;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                li {
                    a {
                        color: #fff;
                        font-size: 22px;
                        border: 1px solid #fff;
                        width: 60px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 500px;
                        margin: 0 10px;
                    }
                }
            }
        }
    }

    // comments menu
    .right-menu-container .right-menu {
        width: 100%;
    }

    .dropdown.custom-dropdown.dropdown-mobile-popup .dropdown-menu {
        position: fixed !important;
        left: 0 !important;
        top: unset !important;
        height: auto;
        width: calc(100vw - 10px);
        overflow: auto;
        bottom: 0;
        max-height: calc(100vh - 100px);
        padding-bottom: 22px;
        .cart-menu-container ul {
            max-height: 100% !important;
        }
    }

    #create-modal .modal-body {
        .one-item {
            padding: 0;
            p {
                font-size: 18px;
            }
            img {
                height: 140px;
            }
        }
    }

    #top-header {
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        z-index: 9;
        width: 100%;

        .top-header-content {
            display: none;
        }
    }

    .profile {
        // start profile
        height: unset !important;
        .profile-content {
            flex-direction: column;
            .profile-sidebar {
                width: 100%;
            }
            .profile-data {
                width: 100%;
                padding: 15px;
            }
        }
    }

    .profile.edit-profile1 {
        .profile-content {
            .profile-sidebar {
                .profile-header {
                    justify-content: space-between;
                    a.btn {
                        position: relative;
                        top: 0;
                        left: 0;
                    }
                }
                .profile-info {
                    .image-and-data {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 20px 0;
                        flex-direction: column;
                        text-align: center;
                    }
                }

                .profile-info-slider {
                    width: 100% !important;
                }
            }

            .profile-data {
                overflow-y: hidden;
            }
        }
    }

    .homepage .homepage-content .carousel-item-content {
        flex-direction: column;
        background: #000;
        .data-section {
            width: 100%;
            display: none;
        }
        .video-section {
            width: 100%;
            display: none;
            .video-section-content {
                position: relative;
            }
        }
    }

    .video-section .video-section-content .video-container video {
        height: 93vh;
    }

    .page-content.homepage {
        padding-top: 0px !important;
    }

    .matched-criteria-container,
    .arrows-container {
        display: none;
    }

    .mobile-view {
        display: block;

        .top-shadow,
        .bottom-shadow {
            height: 130px;
            position: absolute;
            left: 0;
            width: 100%;
            opacity: 0.5;
        }

        .top-shadow {
            top: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.6001751042213761) 20%, rgba(0, 0, 0, 0) 90%);
        }

        .bottom-shadow {
            bottom: 0;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.6001751042213761) 20%, rgba(0, 0, 0, 0) 90%);
        }

        .video-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 93vh;
            width: 100vw;
            position: relative;

            video.video {
                height: 100%;
            }

            .overlay-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: RGBA(0, 0, 0, 0.1);
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100px;
                    filter: drop-shadow(2px 4px 6px #494949);
                    transition: var(--mainTransition);
                    &.hidden {
                        opacity: 0;
                        transition: var(--mainTransition);
                    }
                }
            }

            .shares-container {
                padding: 10px;
                width: fit-content;
                position: absolute;
                left: 0;
                top: 60px;
                z-index: 9;

                .images {
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;
                        li {
                            margin-bottom: 5px;
                            a {
                                img {
                                    width: 40px;
                                }
                                .num {
                                    background: #fff;
                                    color: #000;
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 500px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 14px;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }

            .like-and-comment {
                padding: 10px 20px;
                position: absolute;
                left: 0;
                bottom: 140px;
                z-index: 9;
                .item {
                    font-size: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: fit-content;
                    p {
                        font-size: 14px;
                    }
                    i {
                        line-height: 30px;

                        &.icon-heart-solid {
                            color: var(--dangerColor);
                        }
                    }
                }
            }

            .brand-details {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 10px 10px;
                position: absolute;
                left: 0;
                bottom: 50px;
                z-index: 9;
                .image {
                    width: 45px;
                    img {
                        width: 100%;
                    }
                }
                .data {
                    padding-left: 10px;
                    p.name {
                        font-size: 22px;
                        font-weight: bold;
                        display: flex;
                        img {
                            margin-left: 5px;
                            width: 15px;
                        }
                    }
                    p {
                        margin-bottom: 0;
                    }
                }
            }

            .more-btn-container {
                padding: 8px 0 8px 20px;
                font-weight: bold;
                position: absolute;
                left: 0;
                bottom: 10px;
                z-index: 9;
            }

            .views-and-shares {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 10px;
                position: absolute;
                right: 0;
                bottom: 50px;
                z-index: 9;

                .item {
                    font-size: 26px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: fit-content;
                    padding: 0 10px;
                    p {
                        font-size: 12px;
                        margin-bottom: 5px;
                    }
                    i {
                        line-height: 30px;
                    }
                }
            }

            .share-btn-container {
                margin-top: 7px;
                position: absolute;
                right: 0;
                bottom: 10px;
                z-index: 9;
                a.btn {
                    font-size: 14px;
                    margin: 0 15px;
                    padding: 6px 10px;
                }
            }

            .mobile-brand-data {
                background: #fff;
                color: #555;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 999;
                display: none;
                .mobile-brand-header {
                    display: flex;
                    position: relative;
                    padding: 10px;
                    .close {
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        font-size: 18px;
                    }
                    .brand-logo {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        h3 {
                            margin: 0 5px;
                        }
                        img.logo {
                            width: 70px;
                        }
                    }
                }

                .mobile-brand-slider-container {
                    .item {
                        height: 215px;
                        overflow: hidden;
                        padding: 0 5px;
                        position: relative;
                        img {
                            height: 100%;
                            width: 100%;
                        }

                        .video-item {
                            video {
                                width: 100% !important;
                                background: #414141;
                            }
                            .video-overlay {
                                background: rgba(0, 0, 0, 0.4);
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img {
                                    width: 70px !important;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
                .mobile-brand-details {
                    padding: 10px;

                    .brand-details-text {
                        h4 {
                            font-size: 16px;
                            font-weight: bold;
                        }
                        p {
                            font-size: 12px;
                        }
                    }
                    .buttons.tags a.btn {
                        font-size: 12px;
                        padding: 5px 8px;
                    }

                    .mobile-matched-criteria {
                    }
                }
            }
        }
    }

    .modal .modal-dialog {
        .modal-header .modal-title {
            font-size: 28px;
        }
    }

    #share-modal {
        .image img {
            width: 200px;
        }
        .share-icons-container {
            .share-icons-list .icon {
                width: 50px;
                height: 50px;
                font-size: 20px;
                margin: 0 10px;
            }
        }
    }

    #report-modal .report-container {
        width: 100%;
    }

    .shared-ads-wrapper {
        .one-item {
            width: 100%;
            .shares-wrapper .views i,
            .shares-wrapper .shares i {
                font-size: 25px;
            }
            strong {
                font-size: 16px !important;
            }
        }
    }

    .profits-wrapper {
        .one-item {
            flex-wrap: wrap;
            .image {
                width: 50%;
                order: 1;
            }
            .details {
                width: 100%;
                order: 3;
                margin-top: 5px;
            }
            .price-and-date.text-right {
                width: 50%;
                order: 2;
            }
        }
    }

    #nav-history p {
        text-align: center;
    }

    .row.support-item,
    .row.support-item .col-md-6 {
        text-align: center !important;
    }

    .profile.support.ticket {
        margin: 0 -30px 0 -15px;
    }

    .main-pages {
        .section-headline {
            padding: 0 10px;
            margin-bottom: 20px !important;
            h2 {
                font-size: 19px;
                margin: 0 !important;
            }
            .see-all {
                min-width: 90px;
            }
        }
        .one-item.store-style-1 {
            padding: 15px;
        }

        .one-item.product-style-8 {
            margin: 15px;
            .product-image-wrapper {
                max-height: unset;
                overflow: hidden;
            }
        }

        .categories-filter-wrapper {
            .categories-inline-wrapper {
                display: none;
            }

            .all-categories-wrapper {
                width: 200px;
                margin: 0 10px;
                .all-categories {
                    .col-md-2 {
                        width: 50%;
                        padding: 10px;
                        margin-bottom: 0px !important;
                    }
                    .one-category {
                        padding: 0 15px;
                    }

                    h1 {
                        text-align: left;
                        margin: 25px 20px 30px 20px;
                        font-size: 28px;
                    }
                    a#close-all-categories-btn {
                        position: absolute;
                        top: 30px;
                        right: 30px;
                        font-size: 18px;
                    }
                }
            }

            .delivered-to-wrapper {
                p {
                    color: #fff;
                    padding: 20px 0 0px 20px;
                }
            }
        }

        .featured-stories-wrapper .featured-stories .one-item {
            margin: 20px;
            .details {
                display: flex;
                padding: 15px;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .store-info {
                    width: 100%;
                    text-align: center;
                    margin-top: 20px;
                }
            }
        }

        .most-profitable-ads .one-item {
            .image-wrapper {
                max-height: unset;
                margin: 20px;
            }
            .ads-name {
                text-align: center;
                margin-bottom: 10px;
                margin-top: 10px;
            }
        }

        .top-ten-followers-slider {
            i.slide-arrow.next-arrow {
                right: -35px !important;
            }
            i.slide-arrow.prev-arrow {
                left: -35px !important;
            }
            .slider-item {
                text-align: center;
            }
        }

        .categories-wrapper .categories.style-1 .categories-container,
        .categories-wrapper .categories.style-2 .categories-container {
            flex-wrap: wrap;
            .one-item.category-style-1,
            .one-item.category-style-2 {
                width: 50%;
                margin-bottom: 10px;
            }
        }

        .one-item.category-style-3 {
            margin: 15px;
            .image-wrapper.big-category {
                margin-bottom: 15px;
            }
            .image-wrapper {
                max-height: unset;
                border-radius: 5px;
                overflow: hidden;
            }
        }

        .intro-slider-wrapper {
            .shopping-intro-slider i.slide-arrow,
            .discover-intro-slider i.slide-arrow {
                font-size: 18px;
                top: calc(50% - 10px);
            }
        }

        &.shopping {
            .featured-stores-wrapper {
                .featured-stores.style-2 {
                    .slider-item .one-item.store-style-1 {
                        opacity: 1 !important;
                        margin: 10px;
                    }
                }

                .featured-stores.style-3 {
                    .store-and-products-wrapper {
                        flex-direction: column;
                        .store-wrapper {
                            width: 100%;
                            .one-item.store-style-1 .logo-and-name {
                                margin-top: -50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                .name {
                                    font-size: 26px;
                                    margin: 0;
                                }
                            }
                        }
                        .products-wrapper {
                            width: 100%;
                            margin-left: 0px;
                            margin-top: 0px;
                            padding-bottom: 30px;
                            i.slide-arrow {
                                top: unset !important;
                                bottom: -15px !important;
                            }
                        }
                    }
                }

                .featured-stores.style-4 {
                    .store-and-products-wrapper {
                        .products-wrapper .store-products-slider.style-4 {
                            width: calc(100% - 80px);
                            margin: auto;
                            margin-top: -100px;
                        }
                        .store-wrapper .logo-and-name {
                            margin-bottom: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                        }
                    }
                }

                .featured-stores.style-5 {
                    .store-and-products-wrapper {
                        .products-wrapper {
                            width: calc(100% - 30px);
                            margin: auto;
                        }
                        .store-wrapper .logo-and-name {
                            margin-bottom: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                        }
                    }
                }
            }

            .today-deals-wrapper {
                .today-deals .one-item.product-style-5 {
                    padding: 10px;
                    margin: 10px;
                }
                .today-deals.style-1 .today-deals-slider {
                    i.slide-arrow.next-arrow {
                        right: -35px;
                    }
                    i.slide-arrow.prev-arrow {
                        left: -35px;
                    }
                }

                .today-deals.style-5 {
                    img {
                        padding: 10px;
                        margin-bottom: 20px;
                    }
                }

                .today-deals.style-7 {
                    .one-item.product-style-7 {
                        padding: 10px;
                        margin-bottom: 20px;
                    }
                }
            }

            .newsletter-wrapper {
                .newsletter.style1,
                .newsletter.style2 {
                    padding: 40px 10px;
                    h1.text-center {
                        font-size: 36px !important;
                    }
                }

                .newsletter.style2 .newsletter-form-wrapper .form-group {
                    input {
                        margin-right: 10px !important;
                    }
                    a.subscribe-btn {
                        padding: 7px 20px !important;
                    }
                }
            }
        }
    }
}

// Tablet Media
@media all and (max-width: 767px) {

    .page-content.wallet-page {
        padding: 20px;
    }
    
    body {
        width: 100vw;
        overflow-x: hidden;
        max-width: 100vw;
    }

    .arrows-container {
        position: fixed;
        width: 100%;
        flex-direction: row;
        background: RGBA(0, 0, 0, 0.5);
        bottom: 0;
        padding: 10px;
        top: unset;
        right: unset;
        height: unset;
        .carousel-control-next,
        .carousel-control-prev {
            margin: 0 5px !important;
        }
    }
}

// Mobile Media
@media all and (max-width: 550px) {
    .mobile-left-menu {
        .menu-header {
            .logo-container .logo {
                width: 140px;
                padding: 10px;
            }
            .btn-and-close {
                a.btn {
                    color: #fff !important;
                    padding: 5px 10px;
                    font-size: 0.9rem;
                }
                i.icon.icon-close {
                    margin-left: 0px;
                }
            }
        }

        .menu-icons-container {
            ul.menu-icons li a {
                padding: 10px 5px;
                font-size: 20px;
            }
            .user-icons {
                width: 50px;
            }
        }

        .social-media-container ul li a {
            font-size: 18px;
            width: 50px;
            height: 50px;
        }
    }
}

//////////////////////////////////// Admin Media ////////////////////////////////////

@media all and (max-width: 900px) {
    .submit-btn-container {
        margin-top: 30px;
    }

    .mobile-left-menu .menu-header {
        border-bottom: 1px solid #fff;
    }

    .page-content.admin {
        height: auto;
        .sidebar-wrapper {
            width: 0;
            display: none;
        }
        .page-wrapper {
            padding: 10px !important;
            width: 100% !important;
            overflow-x: auto;
        }
    }

    .upload-store-images-wrapper .image-wrapper {
        width: 100% !important;
    }

    .products-attr-wrapper .one-item {
        flex-direction: column;
        .select-product-attribute-col {
            width: 100% !important;
        }
        .attribute-value-col {
            width: 100% !important;
            padding: 0 !important;
        }
        .add-attribute-wrapper {
            width: 100% !important;
            margin-bottom: 10px;
        }
    }

    .products-grid-wrapper .product {
        width: 100% !important;
    }

    // table style
    table.dataTable,
    .dataTables_wrapper {
        width: fit-content !important;
    }

    .table-header-wrapper a.products-grid {
        left: 130px !important;
    }

    // Products Table
    .dataTables_wrapper,
    div#products_wrapper {
        margin-top: 60px;
        .dataTables_filter,
        div#products_filter {
            left: 0 !important;
            width: calc(100vw - 20px) !important;
            label {
                width: 100% !important;
                input {
                    width: 100% !important;
                    margin: 0;
                }
            }
        }
    }
    // product details page
    .page-content.admin.product-details-page .page-wrapper > .row {
        display: flex;
        flex-direction: column-reverse;
        .reviews .reviews-wrapper .one-item {
            width: 100%;
        }
    }

    //  store-product.php
    .profile.product .product-page-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 15px;

        .product-details-wrapper,
        .product-slider-wrapper {
            width: 100% !important;
            height: auto !important;
        }

        .product-details-wrapper .reviews .reviews-wrapper .one-item {
            width: 100% !important;
        }
    }
}
