// Small Laptop Media
@media all and (max-width: 1200px) {
    .page-content {
        padding-top: 70px !important;
    }

    .container {
        max-width: 1000px;
        height: unset;
        padding: 0px;
    }

    .mobile-menu {
        position: fixed;
        z-index: 99;
        width: 100%;
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: RGBA(0, 0, 0, 0.6);
        padding-right: 0px;
        .logo {
            padding: 10px;
            width: 140px;
        }
        .icon {
            color: #fff;
            font-size: 28px;
            padding: 10px;
        }
        .menu {
            flex-direction: row;
            text-align: center;
            margin: auto;
            justify-content: center;
        }
    }

    .dropdown.custom-dropdown .dropdown-menu {
        position: fixed !important;
        left: 0 !important;
        top: -20px !important;
        height: calc(100vh - 10px);
        width: calc(100vw - 10px);
        .cart-menu-container ul {
            max-height: 100% !important;
        }
    }

    #createModal .modal-body {
        .one-item {
            padding: 0;
            p {
                font-size: 18px;
            }
            img {
                height: 140px;
            }
        }
    }

    #top-header {
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        z-index: 9;
        width: 100%;

        .top-header-content.show {
            display: flex;
        }

        .top-header-content {
            display: none;
        }

        .top-header-content {
            .top-items {
                flex: unset;
                max-width: 100%;
                width: 100%;
                flex-direction: column;
                padding-top: 70px;
                .logo,
                .menu-icon {
                    display: none !important;
                }

                .main-menu {
                    margin-bottom: 20px;
                    width: 100% !important;
                    flex-direction: column;
                    ul.menu {
                        flex-direction: revert;
                        width: 100%;
                        align-items: flex-start;
                        justify-content: flex-start;
                    }
                }
            }

            .bottom-items {
                flex-wrap: wrap !important;
                .search {
                    width: 100% !important;
                    margin-bottom: 20px;
                    padding: 10px;
                }
                .icons {
                    width: 60%;
                    justify-content: flex-end;
                }
                .count {
                    width: 40%;
                    justify-content: flex-start;
                    padding: 0 10px;
                }
                .user-icons {
                    width: 100%;
                    padding: 10px;
                    .dropdown {
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    .profile {
        // start profile
        height: unset !important;
        .profile-content {
            flex-direction: column-reverse;
            .profile-sidebar {
                width: 100%;
            }
            .profile-data {
                width: 100%;
            }
        }
    }

    .profile.edit-profile1 {
        .profile-content {
            flex-direction: column;
            .profile-sidebar {
                .profile-header {
                    justify-content: space-between;
                    a.btn {
                        position: relative;
                        top: 0;
                        left: 0;
                    }
                }
                .profile-info {
                    .image-and-data {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 20px 0;
                        flex-direction: column;
                        text-align: center;
                    }
                }

                .profile-info-slider {
                    width: 100% !important;
                }
            }

            .profile-data {
                overflow-y: hidden;
            }
        }
    }
}

// Tablet Media
@media all and (max-width: 767px) {
    body {
        width: 100vw;
        overflow-x: hidden;
        max-width: 100vw;
    }

    div#expand-video {
        display: none;
    }

    .arrows-container {
        position: fixed;
        width: 100%;
        flex-direction: row;
        background: RGBA(0, 0, 0, 0.5);
        bottom: 0;
        padding: 10px;
        top: unset;
        right: unset;
        height: unset;
        .carousel-control-next,
        .carousel-control-prev {
            margin: 0 5px !important;
        }
    }
}

// Mobile Media
@media all and (max-width: 550px) {
}
