//////////////////////////////////////////// MAIN STYLE START

* {
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --mainColor: #131a45;
    --secondaryColor: #fa935b;
    --successColor: #40cd86;
    --dangerColor: #ff3c3c;
    --gray: #f5f7f9;
    --darkGray: #666666;
    --mainBoxShadow: rgba(0, 0, 0, 5%) 0px 1px 1px, rgba(0, 0, 0, 5%) 0px 2px 2px, rgba(0, 0, 0, 5%) 0px 4px 4px,
        rgba(0, 0, 0, 5%) 0px 8px 8px, rgba(0, 0, 0, 5%) 0px 16px 16px;
    --grayBoxShadow: 0 0 5px #ededed;
    --mainTransition: all 0.2s ease;
}

body {
    font-size: 14px;
    height: 100vh;
    background: #fff;
    font-family: "Poppins", sans-serif;
    color: #3f3f3f;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #3f3f3f;
}

textarea {
    resize: none;
}

a {
    color: var(--secondaryColor);
    &:hover {
        color: var(--secondaryColor);
        text-decoration: none;
    }
} 

.container {
    max-width: 1400px;
    height: 100%;
}

button:focus {
    outline: none;
}

button.reset-btn {
    background: none;
    border: none;
    cursor: pointer;
    &:after {
        display: none;
    }
}

.btn {
    padding: 2px 20px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: bold;

    &.focus,
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.btn-custom1 {
    color: #fff;
    background-color: var(--secondaryColor);
    border-color: var(--secondaryColor);
    padding: 8px 20px;
    border-radius: 8px;

    &:hover {
        color: #fff !important;
        background-color: #d37644 !important;
        border-color: #d37644 !important;
    }
}

.btn-custom2 {
    color: var(--secondaryColor) !important;
    background-color: transparent;
    border-color: var(--secondaryColor);
    padding: 8px 20px;
    border-radius: 8px;

    &:hover {
        color: #fff !important;
        background-color: #d37644;
        border-color: #d37644;
    }
}

.btn-custom3 {
    color: var(--secondaryColor) !important;
    background-color: #fff;
    border-color: var(--secondaryColor);
    padding: 8px 20px;

    &:hover {
        color: var(--gray);
        background-color: #d37644;
        border-color: #d37644;
    }
}

.btn-custom4 {
    color: var(--secondaryColor);
    background-color: #f6e6de;
    border-color: #f6e6de;
    font-weight: bold;

    &:hover {
        color: #fff;
        background-color: #d37644;
        border-color: #d37644;
    }
}

.btn-custom5 {
    color: var(--darkGray);
    background-color: var(--gray);
    border-color: var(--gray);
    padding: 8px 20px;

    &:hover {
        color: #fff;
        background-color: #d37644;
        border-color: #d37644;
    }
}

.btn-edit-custom1 {
    color: #555;
    font-size: 12px;
    background: #fff;
    border: 1px solid;
    width: 25px;
    height: 25px;
    display: inline-flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.btn-delete-custom1 {
    color: var(--dangerColor);
    font-size: 12px;
    background: #fff;
    border: 1px solid;
    width: 25px;
    height: 25px;
    display: inline-flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.btn-lg {
    border-radius: 10px;
    padding: 5px 35px;
    font-size: 1rem;
}

.btn-sm {
    border-radius: 10px;
    padding: 4px 10px;
    font-size: 0.8rem;
}

.success {
    color: var(--successColor);
}

.lead {
    font-size: 1.3em;
}

.danger {
    color: var(--dangerColor);
}

.colored1 {
    color: var(--mainColor);
}

.colored2 {
    color: var(--secondaryColor);
}

.card {
    box-shadow: var(--mainBoxShadow);
    border-color: #f3f3f3;
    border-radius: 7px;
}

.no-scroll {
    overflow: hidden;
}

input:focus-visible {
    outline: none;
}

.custom-control-lg .custom-control-label::before,
.custom-control-lg .custom-control-label::after {
    top: 0;
    left: 0;
    width: 1.25rem !important;
    height: 1.25rem !important;
}

.custom-control-lg .custom-control-label {
    margin-left: 0.5rem !important;
    font-size: 1rem !important;
}

.custom-control-label::before {
    background-color: transparent;
    border: 1px solid #9a9a9a;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--secondaryColor);
}

.form-check-inline {
    display: inline-flex !important;
}


// custom labels with different colors
.label-custom {
    padding: 7px 15px;
    margin: 8px 0;
    font-weight: bold;
    display: inline-flex;
    font-size: 14px;
    border-radius: 8px;
    margin: 0;
}

.label-custom1 {
    color: var(--secondaryColor);
    background-color: #ffece2;
}

.label-custom2 {
    color: var(--mainColor);
    background-color: #d2e1ff;
}

.label-custom3 {
    color: #ff0606;
    background-color: #ff060617;
}

.label-custom4 {
    color: #19be57;
    background-color: #19be5717;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #3f3f3f;
    background-color: unset !important;
}

.options-dropdown {
    font-size: 14px;
    width: 160px !important;
    box-shadow: var(--mainBoxShadow);
    border: 1px solid #f3f3f3 !important;
    padding: 5px 0 !important;

    a.dropdown-item {
        padding: 10px 12px;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        line-height: 0;
        i {
            margin-right: 10px;
            font-size: 14px;
        }
    }
}


.form-control {
    border-radius: 8px !important;
    padding: 8px 15px;
    border: 1px solid #ced4da54;
    font-size: 14px;

    &::placeholder {
        font-size: 12px;
        color: #91a7c060;
    }
    &:focus {
        border-color: #fa935b;
        box-shadow: none;
    }
}

input.form-control.input-with-icon.parsley-error {
    border-color: var(--dangerColor);
    border-width: 2px;
}

.parsley-errors-list {
    list-style: none;
    display: flex;
    position: relative;
    padding: 0;
    z-index: 9;
    margin: 0;
    margin-top: 5px;
    li {
        color: var(--dangerColor);
        padding: 3px 0;
        font-size: 12px;
        width: fit-content;
        margin: 0;
    }
}

.invalid-feedback {
    color: var(--dangerColor);
    padding: 6px 0;
    border-radius: 3px;
    font-size: 12px;
    width: fit-content;
    display: block;
}

.alert {
    padding: 5px;
    margin: 8px 0;
}

.bg-white {
    background-color: #fff;
}

.bg-gray {
    background-color: var(--gray);
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

ul.reset-ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.relative {
    position: relative;
}


/*  CUSTOM RADIO CSS START  */

.option-container {
    position: relative;
    display: flex;
    margin-bottom: 15px;
    font-size: 16px;
    width: fit-content;
    cursor: pointer;
    &:hover input ~ .checkmark {
        background-color: #fff;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkmark {
        top: 0;
        left: 0;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-right: 5px;
        border: 1px solid var(--darkGray);
        background: #fff;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
        &:after {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: var(--secondaryColor);
        }
    }
    input:checked ~ .checkmark {
        background-color: #ffffff;
        border: 2px solid var(--secondaryColor);
    }
    input:checked ~ .checkmark:after {
        display: block;
    }
}

/*  CUSTOM RADIO CSS START  */


/////////////////////// Custom Switch START
///   pen link https://codepen.io/waleedhd1/pen/eYymRVx

$toggle-indicator-size: 19px; // changing this number will resize the whole toggle
$track-height: $toggle-indicator-size + 6;
$track-width: $toggle-indicator-size * 2.5;
$highContrastModeSupport: solid 2px transparent;

$light: rgb(177, 177, 177);
$mid: rgb(97, 97, 97);
$dark: rgb(0, 0, 0);
$speed: 0.3s;

/* 

The following vars come from my theme. 
You'll need to replace with your own color values. 

- "$light"
- "$mid"
- "$dark"

*/
$track-border: $mid;
$track-background: $light;
$focus-ring: 0px 0px 0px 2px $dark;

// Toggle specific styles
.custom-switch {
    cursor: pointer;
    &.toggle {
        align-items: center;
        border-radius: 100px;
        display: flex;
        font-weight: 700;
        margin-bottom: 16px;

        &:last-of-type {
            margin: 0;
        }
    }

    // Since we can't style the checkbox directly, we "hide" it so we can draw the toggle.
    .toggle__input {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;

        // This style sets the focus ring. The ":not([disabled])" prevents the focus ring from creating a flash when the element is clicked.
        &:not([disabled]):active + .toggle-track,
        &:not([disabled]):focus + .toggle-track {
            border: 1px solid transparent;
        }

        &:disabled + .toggle-track {
            cursor: not-allowed;
            opacity: 0.7;
        }
    }

    .toggle-track {
        background: var(--secondaryColor);
        border: 1px solid #fff;
        border-radius: 100px;
        cursor: pointer;
        display: flex;
        height: $track-height;
        margin-right: 12px;
        position: relative;
        width: $track-width;
    }

    .toggle-indicator {
        align-items: center;
        background: #fff;
        border-radius: $toggle-indicator-size;
        bottom: 2px;
        display: flex;
        height: $toggle-indicator-size;
        justify-content: center;
        left: 2px;
        outline: $highContrastModeSupport;
        position: absolute;
        transition: $speed;
        width: $toggle-indicator-size;
    }

    // The check mark is optional
    .checkMark {
        fill: var(--secondaryColor);
        height: $toggle-indicator-size - 4 + 6;
        width: $toggle-indicator-size - 4;
        opacity: 0;
        transition: opacity $speed ease-in-out;
    }

    .toggle__input + .toggle-track {
        background: #cfcfcf;
    }

    .toggle__input:checked + .toggle-track {
        background: var(--secondaryColor);
        .toggle-indicator {
            background: #fff;
            transform: translateX($track-width - $track-height);

            .checkMark {
                opacity: 1;
                transition: opacity $speed ease-in-out;
            }
        }
    }

    @media screen and (-ms-high-contrast: active) {
        .toggle-track {
            border-radius: 0;
        }
    }
}

/////////////////////// Custom Switch END


// Datepicker Style START

.ui-datepicker {
    background: #ffffff;
    border-radius: 15px;
    overflow: hidden;

    .calendar {
        padding: 8px;
        background: #ffffff;
        border-radius: 4px;
        font-size: 18px;
        border: 1px solid #333333;
        box-shadow: 0px 20px 40px rgba(59, 60, 56, 0.05);
    }
    .ui-datepicker-header {
        height: 50px;
        line-height: 50px;
        color: #ffffff;
        background: var(--secondaryColor);
        margin-bottom: 10px;
    }
    .ui-datepicker-prev,
    .ui-datepicker-next {
        width: 20px;
        height: 20px;
        text-indent: 9999px;
        border-radius: 100%;
        cursor: pointer;
        overflow: hidden;
        margin-top: 12px;
    }
    .ui-datepicker-prev {
        float: left;
        margin-left: 12px;
    }
    .ui-datepicker-prev:after {
        transform: rotate(45deg);
        margin: -43px 0px 0px 8px;
    }
    .ui-datepicker-next {
        float: right;
        margin-right: 12px;
    }
    .ui-datepicker-next:after {
        transform: rotate(-135deg);
        margin: -43px 0px 0px 6px;
    }
    .ui-datepicker-prev:after,
    .ui-datepicker-next:after {
        content: "";
        position: absolute;
        display: block;
        width: 8px;
        height: 8px;
        border-left: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
    }
    .ui-datepicker-prev:hover,
    .ui-datepicker-next:hover,
    .ui-datepicker-prev:hover:after,
    .ui-datepicker-next:hover:after {
        border-color: #333333;
    }
    .ui-datepicker-title {
        text-align: center;
        font-size: 22px;
        select {
            border: none;
            color: #fff;
            font-size: 18px;
            background: var(--secondaryColor);
            margin: 5px;
            border-radius: 3px;
            padding: 2px 4px;
            border: 1px solid #fff;
            cursor: pointer;

            option {
                background: #fff;
                color: var(--mainColor);
                font-size: 16px;
            }
        }
    }
    .ui-datepicker-calendar {
        width: 100%;
        text-align: center;
    }
    .ui-datepicker-calendar thead tr th span {
        display: block;
        width: 40px;
        color: var(--secondaryColor);
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: normal;
    }
    .ui-state-default {
        display: block;
        text-decoration: none;
        color: #333333;
        line-height: 40px;
        font-size: 16px;
        background: unset;
        border: none;
    }
    .ui-state-default:hover {
        color: #ffffff;
        background: var(--secondaryColor);
        border-radius: 50px;
        transition: all 0.25s cubic-bezier(0.7, -0.12, 0.2, 1.12);
    }
    .ui-state-highlight {
        color: #ffffff;
        background-color: #7e7e7e;
        border-radius: 50px;
    }
    .ui-state-active {
        color: #ffffff;
        background-color: var(--secondaryColor);
        border-radius: 50px;
    }
    .ui-datepicker-unselectable .ui-state-default {
        color: #eee;
        border: 2px solid transparent;
    }

    .icon {
        margin-left: -30px;
        margin-top: -26px;
        position: relative;
        color: var(--secondaryColor);
        font-size: 20px;
    }
}

// Datepicker Style END


.rate {
    color: #dadada;
    font-size: 12px;
    &.center {
        text-align: center;
    }
    .checked {
        color: var(--secondaryColor);
    }
}

.fa-star.checked {
    color: var(--secondaryColor);
}

.dropdown.custom-dropdown {
    .dropdown-menu {
        min-width: unset;
        padding: 0;
        margin: 0;
        transform: translate3d(5px, 23px, 0px) !important;
        background: #fff;
        border: none;
        left: unset !important;
        right: 0;
        width: 250px;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: var(--mainBoxShadow);

        p {
            margin-bottom: 5px;
            font-size: 12px;
            padding: 15px 15px 5px 15px;
        }
        .one-item {
            ul li {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                &:hover a {
                    background: var(--mainColor);
                    color: var(--secondaryColor);
                }
                a {
                    color: #3f3f3f;
                    width: 100%;
                    padding: 10px 15px;
                    border-bottom: 1px solid rgb(214, 214, 214);
                    font-size: 14px;
                }
                img {
                    width: 30px;
                    height: 20px;
                    margin-right: 10px;
                }
                i.fa-check {
                    color: var(--secondaryColor);
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }
                i.fa-circle {
                    font-size: 10px;
                    margin-right: 7px;
                }
            }
            .languages li a {
                padding-left: 30px !important;
            }
        }
    }

    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        li img {
            width: 50px;
            margin: 0 7px;
        }
    }

    .cart-dropdown-menu {
        width: 370px;

        .cart-menu-container {
            margin: 15px 0px;
            ul {
                max-height: 70vh;
                overflow: auto;
                li.cart-one-item {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    margin-bottom: 10px;
                    border: 1px solid #e6e6e6;
                    position: relative;
                    border-radius: 15px;
                    overflow: hidden;
                    .image {
                        width: 40%;
                    }
                    .details {
                        width: 60%;
                        padding: 15px 10px;

                        p {
                            margin-bottom: 2px;
                            padding: 0;
                            padding-left: 10px;
                        }
                        p.name {
                            font-size: 14px;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        p.cat {
                            color: #cfcfcf;
                        }
                        p.price-container {
                            color: var(--secondaryColor);
                            font-size: 14px;
                            margin-bottom: 6px;
                        }

                        .counter {
                            width: fit-content;
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            background: #f6f6f6;
                            input {
                                width: 30px;
                                border: 0;
                                line-height: 0;
                                font-size: 14px;
                                text-align: center;
                                background: #f6f6f6;
                                color: #3f3f3f;
                                appearance: none;
                                outline: 0;
                                height: 30px;
                            }
                            span {
                                font-size: 18px;
                                cursor: pointer;
                                user-select: none;
                                color: #6f6f6f;
                                background: #f6f6f6;
                                height: 30px;
                                width: 30px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                i {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                    .remove {
                        color: #f00;
                        padding: 8px 12px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        cursor: pointer;
                        font-size: 10px;
                    }
                }
            }
            .cart-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .total-container {
                    span.total-title {
                        font-size: 12px;
                        color: #cfcfcf;
                    }
                    p.total-price {
                        font-size: 18px !important;
                        input {
                            display: inline-flex;
                            width: 120px;
                            background: none;
                            border: none;
                            color: #3f3f3f;
                        }
                    }
                }
                a.btn.btn-custom1 {
                    font-size: 14px;
                    i {
                        margin-left: 14px;
                    }
                }
            }
        }
    }

    .notifications-dropdown-menu {
        width: 370px;

        ul {
            max-height: 70vh;
            overflow-y: auto;
            overflow-x: hidden;
            padding-right: 20px;
        }
    }
}

.modal {
    .modal-dialog {
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;

        .modal-header {
            padding: 0 0 5px 0;
            border-bottom: 0;
            justify-content: center;
            .modal-title {
                font-size: 32px;
                font-weight: bold;
                text-transform: capitalize;
                margin-bottom: 20px;
            }
            .close {
                position: absolute;
                top: 30px;
                right: 30px;
                font-size: 16px;
                color: #3f3f3f;
                z-index: 999;
            }
        }

        .modal-content {
            border-radius: 32px;
            padding: 20px;
            .modal-body {
                padding: 0;
            }
            .modal-footer {
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 0;
                .btn {
                    width: 200px;
                    img {
                        width: 25px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

.form-group {
    .input-with-country-code {
        padding-left: 105px !important;
    }
    .country-code-container {
        position: absolute;
        top: 0;
        left: 0;
        img {
            width: 27px;
            height: 18px;
            margin-right: 5px;
        }
        button {
            height: 42px;
            border-radius: 8px;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90px;
            color: #495057;
        }
        .dropdown-menu {
            padding: 0;
            overflow: hidden;
            left: -1px !important;
            .dropdown-item {
                padding: 5px 8px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;
                &:hover {
                    background: var(--mainColor);
                    color: var(--secondaryColor);
                }
            }
        }
        .fa-caret-down {
            position: absolute;
            top: 10px;
            right: -23px;
            color: #495057 !important;
            font-size: 14px !important;
        }
    }
}

.genders-container {
    .gender {
        display: inline-flex;
        height: 50px;
        background: #fff;
        border-radius: 10px;
        margin-right: 10px;
        cursor: pointer;
        border: 3px solid #e5e5e5;
        position: relative;
        &.active {
            border: 3px solid var(--secondaryColor);
        }
        p {
            position: absolute;
            bottom: 0;
            margin: 0;
            width: 100%;
            margin-bottom: -25px;
            text-align: center;
            font-size: 13px;
            text-transform: capitalize;
            font-weight: bold;
        }
    }
}

.notifications-menu-container {
    margin: 5px 0;
    .notification-one-item {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
        text-transform: capitalize;
        margin: 10px 0;
        &:last-child {
            border-bottom: 1px solid rgb(255, 255, 255);
        }

        .notification-icon {
            width: 15%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            i {
                color: #fff;
                background: var(--secondaryColor);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                border-radius: 50px;
                font-size: 16px;
            }
        }
        .notification-details {
            width: 70%;
            display: flex;
            align-items: center;
            p {
                margin-bottom: 0 !important;
                font-size: 13px;
                padding: 0 !important;
                color: #515c6f;
            }
        }
        .notification-date {
            width: 15%;
            font-size: 11px;
            color: #515c6f73;
            position: relative;
            text-align: right;

            i.fa.fa-circle {
                font-size: 8px;
                position: absolute;
                top: 20px;
                right: 10px;
                color: var(--secondaryColor);
            }
        }
    }
    .notifications-footer {
        a.btn {
            width: 100%;
            padding: 5px;
            font-size: 14px;
        }
    }
}


.share-link-container {
    border: 1px solid #f1f1f1;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: var(--mainBoxShadow);
    border-radius: 10px;
    width: 310px;
    max-width: 100%;
    font-size: 12px;
    color: var(--darkGray);
    cursor: pointer;
    position: relative;

    p.link-copied {
        position: absolute;
        bottom: -22px;
        left: calc(50% - 44px);
        font-size: 12px;
        margin: 0;
        color: var(--successColor);
        text-transform: lowercase;
        display: none;
    }

    i.icon-copy {
        font-size: 18px;
        line-height: 0;
    }
}


//////////////////////////////////////////// MAIN STYLE END


//////////////////////////////////////////// Top Header START

#top-header {
    background: var(--mainColor);
    color: #fff;

    .btn-custom1,
    .btn-custom2 {
        border-radius: 6px;
        padding: 6px 20px;
    }
    .form-control {
        border-radius: 6px;
        padding: 6px 20px;
    }

    .top-header-content {
        .logo {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            margin-right: 15px;

            img {
                width: 100px;
            }
        }
        .menu-icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            i {
                font-size: 24px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .main-menu {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            margin-right: 15px;

            ul.menu {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;

                a {
                    color: #fff;
                    padding: 18px 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: var(--mainTransition);
                    position: relative;
                    height: 100%;
                    &:hover,
                    &.active {
                        color: var(--secondaryColor);
                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 12px;
                            left: calc(50% - 10px);
                            width: 20px;
                            height: 3px;
                            background: var(--secondaryColor);
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
        .search {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 330px;

            .search-container {
                position: relative;
                width: 100%;
                input.search-input {
                    width: 100%;
                    border-radius: 50px;
                    padding: 5px 15px;
                    background: no-repeat;
                    border: 1px solid #fff;
                    color: #fff;
                    font-size: 14px;
                    &::placeholder {
                        font-size: 12px;
                        color: rgb(255, 255, 255);
                        opacity: 0.6;
                    }
                }
                button {
                    position: absolute;
                    top: 6px;
                    right: 8px;
                    cursor: pointer;
                    i.icon.icon-search {
                        font-size: 14px;
                        color: var(--secondaryColor);
                    }
                }
            }
        }

        .bottom-items {
            display: flex;
            justify-content: flex-end;
            .count {
                display: flex;
                justify-content: center;
                align-items: center;
                .count-container {
                    background: #fff;
                    color: #3f3f3f;
                    padding: 5px 17px;
                    width: fit-content;
                    border-radius: 10px;
                    font-weight: bold;
                    font-size: 13px;
                    img {
                        width: 15px;
                        margin-right: 3px;
                    }
                }
            }
            .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 7px;
                .icon-container {
                    position: relative;
                    button,
                    a.reset-btn {
                        color: #fff;
                        width: 55px;
                        i.icon {
                            font-size: 20px;
                            padding: 5px;
                            cursor: pointer;
                            margin: 0 10px;
                        }
                    }

                    span.number {
                        position: absolute;
                        top: -3px;
                        right: 0;
                        background: var(--secondaryColor);
                        width: 20px;
                        height: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50px;
                        font-size: 12px;
                        cursor: pointer;
                    }
                }
            }
            .user-icons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .dropdown {
                    img {
                        width: 30px;
                    }
                }
                .language-btn::after {
                    color: #fff;
                    position: absolute;
                    top: 10px;
                    left: -10px;
                    display: block;
                }
            }
        }
    }
}
// change buttons size in header and homepage
#top-header,
.homepage {
    .btn-custom1,
    .btn-custom2 {
        border-radius: 5px;
        padding: 5px 20px;
    }
    .form-control {
        border-radius: 5px;
        padding: 5px 20px;
    }
}

//////////////////////////////////////////// Top Header END


//////////////////////////////////////////// Left Menu START

.left-menu-container {
    position: absolute;
    color: #fff;
    background: RGBA(0, 0, 0, 0.7);
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    display: none;

    &.show {
        display: flex;
    }

    .left-menu {
        background: var(--mainColor);
        width: 20%;
        height: 100%;

        .logo-header {
            padding: 20px;
            border-bottom: 1px solid #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                width: 150px;
            }
            i {
                font-size: 14px;
                cursor: pointer;
            }
        }

        .menu {
            padding: 30px 0;
            ul li {
                margin-bottom: 10px;
                a {
                    color: #fff;
                    width: 100%;
                    display: flex;
                    padding: 10px 15px;
                    font-size: 20px;
                }
            }
        }

        .menu-footer ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li a {
                color: #fff;
                display: inline-flex;
                width: 50px;
                border: 1px solid #fff;
                height: 50px;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                border-radius: 500px;
                margin: 0 5px;
            }
        }
    }
}

//////////////////////////////////////////// Left Menu END

