@charset "UTF-8";

//////////////////////////////////////////// Custom Font Start

/* 
    About Custom Font
    this custom icon font created by https://app.fontastic.me
    you can convert any SVG image to icon font
*/

@font-face {
    font-family: "kamashka-font-8";
    src: url("fonts/kamashka-font-8.eot");
    src: url("fonts/kamashka-font-8.eot?#iefix") format("embedded-opentype"),
        url("fonts/kamashka-font-8.woff") format("woff"), url("fonts/kamashka-font-8.ttf") format("truetype"),
        url("fonts/kamashka-font-8.svg#kamashka-font-8") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "kamashka-font-8" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "kamashka-font-8" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-gplus:before {
    content: "\63";
}
.icon-pinterest:before {
    content: "\61";
}
.icon-cart:before {
    content: "\62";
}
.icon-chat:before {
    content: "\64";
}
.icon-close:before {
    content: "\65";
}
.icon-expand:before {
    content: "\66";
}
.icon-eye:before {
    content: "\67";
}
.icon-lock:before {
    content: "\69";
}
.icon-meni-icon:before {
    content: "\6a";
}
.icon-search:before {
    content: "\6b";
}
.icon-share:before {
    content: "\6c";
}
.icon-user:before {
    content: "\6d";
}
.icon-heart:before {
    content: "\68";
}

button:focus {
    outline: none;
}

//////////////////////////////////////////////// Custom Font Start

// main style START

:root {
    --mainColor: #131a45;
    --secondaryColor: #fa935b;
    --gray: #f5f7f9;
    --mainBoxShadow: 0 0 5px #f5f7f9;
    --mainTransition: all 0.3s ease;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}

body {
    font-size: 14px;
    height: 100vh;
    background: #000;
}

a {
    color: var(--secondaryColor);
    &:hover {
        color: var(--secondaryColor);
    }
}

.container {
    max-width: 1400px;
    height: 100%;
}

a:hover {
    text-decoration: none;
}

.btn {
    padding: 2px 20px;
    border-radius: 10px;
    text-transform: capitalize;
}

.btn.focus,
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

input:focus-visible {
    outline: none;
}

.btn-custom1 {
    color: #fff;
    background-color: var(--secondaryColor);
    border-color: var(--secondaryColor);
    padding: 8px 20px;
    border-radius: 8px;

    &:hover {
        color: #fff;
        background-color: #d37644;
        border-color: #d37644;
    }
}

.btn-custom2 {
    color: var(--secondaryColor);
    background-color: transparent;
    border-color: var(--secondaryColor);
    padding: 8px 20px;
    border-radius: 8px;

    &:hover {
        color: #fff;
        background-color: #d37644;
        border-color: #d37644;
    }
}

button.btn.btn-custom3 {
    color: var(--secondaryColor);
    background-color: #FFF;
    border-color: var(--secondaryColor);
    padding: 8px 20px;
    border-radius: 8px;
    &:hover {
        color: #fff;
        background-color: #d37644;
        border-color: #d37644;
    }
}

.form-control {
    border-radius: 8px !important;
    padding: 8px;

    &::placeholder {
        font-size: 14px;
        color: #acacac;
    }
    &:focus {
        border-color: #fa935b;
        box-shadow: none;
    }
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: unset !important;
}

.text-center {
    text-align: center;
}

ul.resetul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.relative {
    position: relative;
}

// main style END

//  homepage video carousel fade START

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: 0.6s;
    transition-property: opacity;
    height: 100%;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}

//  homepage video carousel fade END

.mobile-menu {
    display: none;
}

body.fullscreen {
    #top-header {
        display: none;
    }
    .page-content.homepage {
        height: 100%;
        .carousel-inner,
        .carousel-item,
        .carousel-item-content {
            height: 100%;
        }

        .homepage-content .video-section .video-section-content {
            .video-container {
                height: 100%;
                #home-video-carousel {
                    width: 500px;
                    .carousel-item-content {
                        video {
                            width: auto;
                        }
                        .icons-container {
                            padding-top: 5px;
                        }
                    }
                }
                .arrows-container .expand-video-container {
                    top: 5px;
                }
            }
        }
        .arrows-container {
            right: 80px;
        }
    }
}

// change btns size in header and homepage
#top-header,
.homepage {
    .btn-custom1,
    .btn-custom2 {
        border-radius: 5px;
        padding: 5px 20px;
    }
    .form-control {
        border-radius: 5px;
        padding: 5px 20px;
    }
}

// Top Header
#top-header {
    background: var(--mainColor);
    color: #fff;

    .btn-custom1,
    .btn-custom2 {
        border-radius: 6px;
        padding: 6px 20px;
    }
    .form-control {
        border-radius: 6px;
        padding: 6px 20px;
    }

    .top-header-content {
        .logo {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            width: 20%;
            img {
                width: 100px;
            }
        }
        .menu-icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 15%;
            i {
                font-size: 24px;
            }
        }
        .main-menu {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            width: 65%;

            ul.menu {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                a {
                    color: #fff;
                    padding: 18px 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: var(--mainTransition);
                    position: relative;
                    &.active {
                        color: var(--secondaryColor);
                        &:hover {
                            &:after {
                                background: var(--mainColor);
                            }
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 12px;
                            left: calc(50% - 10px);
                            width: 20px;
                            height: 3px;
                            background: var(--secondaryColor);
                            border-radius: 10px;
                        }
                    }
                    &:hover {
                        text-decoration: none;
                        background: var(--secondaryColor);
                        color: var(--mainColor);
                        transition: var(--mainTransition);
                    }
                }
            }
        }
        .search {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;

            .search-container {
                position: relative;
                width: 100%;
                input.search-input {
                    width: 100%;
                    border-radius: 50px;
                    padding: 5px 15px;
                    background: no-repeat;
                    border: 1px solid #fff;
                    color: #fff;
                    font-size: 14px;
                    &::placeholder {
                        font-size: 11px;
                        color: rgb(255, 255, 255);
                        opacity: 0.6;
                    }
                }
                i.icon.icon-search {
                    position: absolute;
                    top: 7px;
                    right: 10px;
                    font-size: 13px;
                    color: var(--secondaryColor);
                    background: var(--mainColor);
                }
            }
        }
        .count {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15%;
            .count-container {
                background: #fff;
                color: #000;
                padding: 5px 17px;
                width: fit-content;
                border-radius: 10px;
                font-weight: bold;
                font-size: 13px;
                img {
                    width: 15px;
                    margin-right: 3px;
                }
            }
        }
        .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            .icon-container {
                position: relative;
                i.icon {
                    font-size: 20px;
                    padding: 5px;
                    cursor: pointer;
                    margin: 0 10px;
                }
                span.number {
                    position: absolute;
                    top: -5px;
                    right: 0;
                    background: var(--secondaryColor);
                    width: 20px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    font-size: 12px;
                    cursor: pointer;
                }
            }
        }

        .user-icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 20%;
            .dropdown {
                button {
                    background: none;
                    border: none;
                    cursor: pointer;
                    img {
                        width: 40px;
                    }
                }
            }
            .dropdown-toggle::after {
                color: #fff;
                position: absolute;
                top: 10px;
                left: -10px;
            }

            .dropdown-menu {
                min-width: unset;
                padding: 0;
                margin: 0;
                transform: translate3d(5px, 23px, 0px) !important;
                background: #fff;
                border: none;

                .dropdown-item {
                    display: flex;
                    padding: 4px;
                    img {
                        width: 30px;
                    }

                    &:hover {
                        background: var(--mainColor);
                    }
                }
            }
        }
    }
}

////////////////////// Homepage Start
.data-section {
    width: 40%;
    padding-left: 10px;
    .brand-header {
        margin: 15px 0;
        .brand-logo {
            img {
                width: 60px;
            }
        }
        .follow-btn {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
        }

        h3 {
            font-size: 24px;
            text-transform: capitalize;
        }
        p {
            margin-bottom: 2px;
        }
    }

    .brand-slider-container {
    }

    .brand-details {
        .brand-details-text {
            max-height: 160px;
            overflow-x: hidden;
            overflow-y: auto;
            h4 {
                font-size: 21px;
            }
        }
    }

    .share {
        .images {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                li {
                    margin-right: 5px;
                    a {
                        img {
                            width: 50px;
                        }

                        .num {
                            background: #fff;
                            color: var(--secondaryColor);
                            width: 50px;
                            height: 50px;
                            border-radius: 500px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .btns {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}

.video-section {
    width: 60%;
    background-image: url(../img/shadow-wallpaper.jpg);
    background-size: 100% 100%;
    position: relative;
    .shadow {
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.5) 20%,
            rgba(255, 255, 255, 0) 60%,
            rgba(0, 0, 0, 0.5) 80%,
            rgba(0, 0, 0, 1) 100%
        );
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .video-section-content {
        z-index: 2;
        color: #fff;
        font-size: 55px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .video-container {
            width: 100%;
            display: flex;
            justify-content: center;
            height: fit-content;
        }
    }
}

.arrows-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    position: absolute;
    top: 20px;
    right: 100px;
    height: calc(100% - 20px);

    .expand-video-container {
        position: absolute;
        top: 0;
        left: 10px;

        .icon-container {
            background: #fff;
            color: #3c3c3c;
            font-size: 16px;
            border-radius: 500px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            i {
                margin-top: 4px;
            }
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        all: unset;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--mainColor);
        border-radius: 500px;
        color: #fff;
        i.fa {
            font-size: 14px;
        }
    }
}

.homepage {
    background: #000;
    color: #fff;
    height: calc(100% - 58px);

    .homepage-content {
        display: flex;
        width: 100%;
        height: 100%;

        #home-video-carousel {
            width: 100%;
            display: flex;

            .carousel-item-content {
                display: flex;
                justify-content: center;
                flex-direction: row;
                height: 100%;

                .icons-container {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 0 20px;
                    width: auto;
                    .video-icons {
                        font-size: 26px;
                        p {
                            font-size: 14px;
                        }
                        ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            li {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
                video {
                    width: auto;
                }
            }
        }
    }
}

////////////////////// Homepage END

////////////////////// Signin Start

.signin,
.signup ,
.activate{
    background-color: var(--mainColor);
    height: calc(100% - 58px);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .signin-content {
        width: 500px;
        max-width: 100%;
        padding: 10px;
        text-align: center;
        h3 {
            font-size: 22px;
        }
        .logo {
            width: 90px;
        }
        .form-container {
            padding: 30px 0;
            margin-bottom: 15px;

            form.signin-form {
                .form-group {
                    .form-control {
                        padding-left: 40px;
                    }
                    i {
                        position: absolute;
                        color: #fa935b;
                        height: 23px;
                        width: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 22px;
                        top: 10px;
                        z-index: 9;
                        &.fa-envelope {
                            font-size: 18px;
                        }
                    }
                    .toggle-password-container {
                        position: absolute;
                        right: 0;
                        width: 40px;
                        height: 100%;
                        cursor: pointer;
                    }
                }
            }

            .forget-password-container {
                a {
                    color: #fff;
                }
            }
        }
        .page-footer {
            .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                li img {
                    width: 60px;
                    margin: 0 7px;
                }
            }
        }
    }
}

.signup {
    height: auto;
    padding-top: 30px;
    .form-group {
        text-align: left !important;
        .form-control {
            padding-left: 15px !important;
        }
    }
    .genders-container {
        .gender {
            display: inline-flex;
            height: 50px;
            background: #fff;
            border-radius: 10px;
            margin-right: 10px;
            cursor: pointer;
            border: 2px solid #fff;
            &.active {
                border: 2px solid var(--secondaryColor);
            }
        }
    }
    #confirmation {
        color: #515c6f;
    }
}

.modal {
    .modal-dialog {
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        .modal-content {
            border-radius: 32px;
            padding: 20px;
            .modal-body {
                font-size: 22px;
                text-align: center;
                padding: 30px;
            }
            .modal-footer {
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 0;
                button {
                    width: 200px;
                    img {
                        width: 25px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

////////////////////// signin END

// small laptop media
@media all and (max-width: 1024px) {
    .container {
        max-width: 1000px;
        height: unset;
        padding: 0px;
    }
    #top-header .top-header-content .search {
        width: 40%;
    }
    #top-header .top-header-content .count {
        width: 35%;
    }
    .homepage .homepage-content .data-section {
        padding: 10px;
    }
    .brand-header .row .col-md-2.brand-logo {
        width: 20%;
    }
    .brand-header .row .col-md-4,
    .brand-header .row .col-md-6 {
        width: 40%;
    }

    .col-md-6.d-flex.bottom-items {
        padding-left: 30px;
    }
}

// tablet media
@media all and (max-width: 850px) {
    body {
        width: 100vw;
        overflow-x: hidden;
        max-width: 100vw;
    }
    .mobile-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--mainColor);
        padding-right: 30px;
        .logo {
            padding: 10px;
        }
        .icon {
            color: #fff;
            font-size: 28px;
            padding: 10px;
        }
    }

    #top-header {
        .main-menu ul.menu {
            flex-direction: column;
        }
        .row.top-header-content.show {
            display: flex;
        }

        .row.top-header-content {
            display: none;
        }

        .row.top-header-content .col-md-4.top-items {
            flex: unset;
            max-width: 100%;
            width: 100%;
            flex-direction: column;
            .logo,
            .menu-icon {
                display: none !important;
            }

            .main-menu {
                margin-bottom: 20px;
                width: 100% !important;
                ul.menu {
                    flex-direction: column;
                    width: 100%;
                    align-items: flex-start;
                }
            }
        }

        .row.top-header-content .col-md-8.bottom-items {
            flex-wrap: wrap !important;
            padding-right: 40px;
            padding-left: 20px;
            .search {
                width: 100% !important;
                margin-bottom: 20px;
                padding: 0;
            }
            .count,
            .icons {
                width: 25%;
                justify-content: flex-start;
            }
            .user-icons {
                width: 50%;
                .dropdown {
                    margin-left: 60px;
                }
            }
        }
    }

    .homepage .homepage-content {
        .carousel-item-content {
            flex-direction: column-reverse !important;
            .data-section,
            .video-section {
                width: 100%;
            }
            .video-section {
                .video-section-content {
                    position: relative;
                    .icons-container {
                        position: absolute;
                        top: 50px;
                        left: 0;
                    }
                    video {
                        width: 100% !important;
                    }
                }
                .shadow {
                    position: absolute;
                }
            }
        }
    }

    div#expand-video {
        display: none;
    }

    .arrows-container {
        position: fixed;
        width: 100%;
        flex-direction: row;
        background: RGBA(0, 0, 0, 0.5);
        bottom: 0;
        padding: 10px;
        top: unset;
        right: unset;
        height: unset;
        .carousel-control-next,
        .carousel-control-prev {
            margin: 0 5px !important;
        }
    }
}

// mobile media
@media all and (max-width: 550px) {
    .mobile-menu {
        padding-right: 10px;
    }

    body .row.top-header-content .col-md-8.bottom-items {
        .count,
        .icons {
            width: 50% !important;
            margin-bottom: 20px;
        }
        .user-icons {
            width: 100% !important;
            flex-wrap: wrap;
            .dropdown {
                margin-left: 10px !important;
                margin-bottom: 20px;
            }
            a.btn.btn-custom1 {
                margin-bottom: 20px;
            }
        }
    }

    .share {
        margin: 30px 0;
        p {
            text-align: center;
        }
    }
    .homepage .homepage-content .data-section .brand-details .brand-details-text {
        max-height: unset;
    }
    .homepage .homepage-content .data-section .share .btns,
    .homepage .homepage-content .data-section .share .images ul {
        justify-content: center;
        align-items: center;
    }
}
