/* 
    About Custom Font
    this custom icon font created by https://app.fontastic.me
    you can convert any SVG image to icon font
*/
@font-face {
  font-family: "kamashka-font-8";
  src: url("fonts/kamashka-font-8.eot");
  src: url("fonts/kamashka-font-8.eot?#iefix") format("embedded-opentype"), url("fonts/kamashka-font-8.woff") format("woff"), url("fonts/kamashka-font-8.ttf") format("truetype"), url("fonts/kamashka-font-8.svg#kamashka-font-8") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "kamashka-font-8" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "kamashka-font-8" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gplus:before {
  content: "c";
}

.icon-pinterest:before {
  content: "a";
}

.icon-cart:before {
  content: "b";
}

.icon-chat:before {
  content: "d";
}

.icon-close:before {
  content: "e";
}

.icon-expand:before {
  content: "f";
}

.icon-eye:before {
  content: "g";
}

.icon-lock:before {
  content: "i";
}

.icon-meni-icon:before {
  content: "j";
}

.icon-search:before {
  content: "k";
}

.icon-share:before {
  content: "l";
}

.icon-user:before {
  content: "m";
}

.icon-heart:before {
  content: "h";
}

button:focus {
  outline: none;
}

:root {
  --mainColor: #131a45;
  --secondaryColor: #fa935b;
  --gray: #f5f7f9;
  --mainBoxShadow: 0 0 5px #f5f7f9;
  --mainTransition: all 0.3s ease;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

body {
  font-size: 14px;
  height: 100vh;
  background: #000;
}

a {
  color: var(--secondaryColor);
}
a:hover {
  color: var(--secondaryColor);
}

.container {
  max-width: 1400px;
  height: 100%;
}

a:hover {
  text-decoration: none;
}

.btn {
  padding: 2px 20px;
  border-radius: 10px;
  text-transform: capitalize;
}

.btn.focus,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

input:focus-visible {
  outline: none;
}

.btn-custom1 {
  color: #fff;
  background-color: var(--secondaryColor);
  border-color: var(--secondaryColor);
  padding: 8px 20px;
  border-radius: 8px;
}
.btn-custom1:hover {
  color: #fff;
  background-color: #d37644;
  border-color: #d37644;
}

.btn-custom2 {
  color: var(--secondaryColor);
  background-color: transparent;
  border-color: var(--secondaryColor);
  padding: 8px 20px;
  border-radius: 8px;
}
.btn-custom2:hover {
  color: #fff;
  background-color: #d37644;
  border-color: #d37644;
}

button.btn.btn-custom3 {
  color: var(--secondaryColor);
  background-color: #fff;
  border-color: var(--secondaryColor);
  padding: 8px 20px;
  border-radius: 8px;
}
button.btn.btn-custom3:hover {
  color: #fff;
  background-color: #d37644;
  border-color: #d37644;
}

.form-control {
  border-radius: 8px !important;
  padding: 8px;
}
.form-control::placeholder {
  font-size: 14px;
  color: #acacac;
}
.form-control:focus {
  border-color: #fa935b;
  box-shadow: none;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: unset !important;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

ul.resetul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.relative {
  position: relative;
}

button.resetbtn {
  background: none;
  border: none;
  cursor: pointer;
}
button.resetbtn::after {
  display: none;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 0.6s;
  transition-property: opacity;
  height: 100%;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.mobile-menu {
  display: none;
}

body.fullscreen #top-header {
  display: none;
}
body.fullscreen .page-content.homepage {
  height: 100%;
}
body.fullscreen .page-content.homepage .carousel-inner,
body.fullscreen .page-content.homepage .carousel-item,
body.fullscreen .page-content.homepage .carousel-item-content {
  height: 100%;
}
body.fullscreen .page-content.homepage .homepage-content .video-section .video-section-content .video-container {
  height: 100%;
}
body.fullscreen .page-content.homepage .homepage-content .video-section .video-section-content .video-container #home-video-carousel {
  width: 500px;
}
body.fullscreen .page-content.homepage .homepage-content .video-section .video-section-content .video-container #home-video-carousel .carousel-item-content video {
  width: auto;
}
body.fullscreen .page-content.homepage .homepage-content .video-section .video-section-content .video-container #home-video-carousel .carousel-item-content .icons-container {
  padding-top: 5px;
}
body.fullscreen .page-content.homepage .homepage-content .video-section .video-section-content .video-container .arrows-container .expand-video-container {
  top: 5px;
}
body.fullscreen .page-content.homepage .arrows-container {
  right: 80px;
}

#top-header .btn-custom1,
#top-header .btn-custom2,
.homepage .btn-custom1,
.homepage .btn-custom2 {
  border-radius: 5px;
  padding: 5px 20px;
}
#top-header .form-control,
.homepage .form-control {
  border-radius: 5px;
  padding: 5px 20px;
}

#top-header {
  background: var(--mainColor);
  color: #fff;
}
#top-header .btn-custom1,
#top-header .btn-custom2 {
  border-radius: 6px;
  padding: 6px 20px;
}
#top-header .form-control {
  border-radius: 6px;
  padding: 6px 20px;
}
#top-header .top-header-content .logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}
#top-header .top-header-content .logo img {
  width: 100px;
}
#top-header .top-header-content .menu-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}
#top-header .top-header-content .menu-icon i {
  font-size: 24px;
  cursor: pointer;
}
#top-header .top-header-content .main-menu {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 65%;
}
#top-header .top-header-content .main-menu ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
#top-header .top-header-content .main-menu ul.menu a {
  color: #fff;
  padding: 18px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--mainTransition);
  position: relative;
}
#top-header .top-header-content .main-menu ul.menu a.active {
  color: var(--secondaryColor);
}
#top-header .top-header-content .main-menu ul.menu a.active:hover:after {
  background: var(--mainColor);
}
#top-header .top-header-content .main-menu ul.menu a.active:after {
  content: "";
  position: absolute;
  bottom: 12px;
  left: calc(50% - 10px);
  width: 20px;
  height: 3px;
  background: var(--secondaryColor);
  border-radius: 10px;
}
#top-header .top-header-content .main-menu ul.menu a:hover {
  text-decoration: none;
  background: var(--secondaryColor);
  color: var(--mainColor);
  transition: var(--mainTransition);
}
#top-header .top-header-content .search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
#top-header .top-header-content .search .search-container {
  position: relative;
  width: 100%;
}
#top-header .top-header-content .search .search-container input.search-input {
  width: 100%;
  border-radius: 50px;
  padding: 5px 15px;
  background: no-repeat;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
}
#top-header .top-header-content .search .search-container input.search-input::placeholder {
  font-size: 11px;
  color: white;
  opacity: 0.6;
}
#top-header .top-header-content .search .search-container i.icon.icon-search {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 13px;
  color: var(--secondaryColor);
  background: var(--mainColor);
}
#top-header .top-header-content .count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}
#top-header .top-header-content .count .count-container {
  background: #fff;
  color: #000;
  padding: 5px 17px;
  width: fit-content;
  border-radius: 10px;
  font-weight: bold;
  font-size: 13px;
}
#top-header .top-header-content .count .count-container img {
  width: 15px;
  margin-right: 3px;
}
#top-header .top-header-content .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
#top-header .top-header-content .icons .icon-container {
  position: relative;
}
#top-header .top-header-content .icons .icon-container button {
  color: #fff;
}
#top-header .top-header-content .icons .icon-container i.icon {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  margin: 0 10px;
}
#top-header .top-header-content .icons .icon-container span.number {
  position: absolute;
  top: -5px;
  right: 0;
  background: var(--secondaryColor);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 12px;
  cursor: pointer;
}
#top-header .top-header-content .user-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
#top-header .top-header-content .user-icons .dropdown img {
  width: 40px;
}
#top-header .top-header-content .user-icons .language-btn::after {
  color: #fff;
  position: absolute;
  top: 10px;
  left: -10px;
  display: block;
}

.dropdown.custom-dropdown .dropdown-menu {
  min-width: unset;
  padding: 0;
  margin: 0;
  transform: translate3d(5px, 23px, 0px) !important;
  background: #fff;
  border: none;
  left: unset !important;
  right: 0;
  width: 250px;
  border-radius: 15px;
  overflow: hidden;
}
.dropdown.custom-dropdown .dropdown-menu p {
  margin-bottom: 5px;
  font-size: 12px;
  padding: 15px 15px 5px 15px;
}
.dropdown.custom-dropdown .dropdown-menu .one-item ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.dropdown.custom-dropdown .dropdown-menu .one-item ul li:hover a {
  background: var(--mainColor);
  color: var(--secondaryColor);
}
.dropdown.custom-dropdown .dropdown-menu .one-item ul li a {
  color: #000;
  width: 100%;
  padding: 10px 15px;
  border-bottom: 1px solid #d6d6d6;
  font-size: 14px;
}
.dropdown.custom-dropdown .dropdown-menu .one-item ul li img {
  width: 30px;
  height: 20px;
  margin-right: 10px;
}
.dropdown.custom-dropdown .dropdown-menu .one-item ul li i.fa-check {
  color: var(--secondaryColor);
  position: absolute;
  top: 15px;
  right: 15px;
}
.dropdown.custom-dropdown .dropdown-menu .one-item ul li i.fa-circle {
  font-size: 10px;
  margin-right: 7px;
}
.dropdown.custom-dropdown .dropdown-menu .one-item .languages li a {
  padding-left: 30px !important;
}
.dropdown.custom-dropdown .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown.custom-dropdown .social-icons li img {
  width: 50px;
  margin: 0 7px;
}
.dropdown.custom-dropdown .cart-dropdown-menu {
  width: 350px;
}
.dropdown.custom-dropdown .cart-dropdown-menu .cart-menu-container {
  margin: 20px 10px;
}
.dropdown.custom-dropdown .cart-dropdown-menu .cart-menu-container ul li.cart-one-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
  border: 1px solid #e6e6e6;
  position: relative;
}
.dropdown.custom-dropdown .cart-dropdown-menu .cart-menu-container ul li.cart-one-item .image {
  width: 40%;
}
.dropdown.custom-dropdown .cart-dropdown-menu .cart-menu-container ul li.cart-one-item .details {
  width: 60%;
  padding: 10px;
}
.dropdown.custom-dropdown .cart-dropdown-menu .cart-menu-container ul li.cart-one-item .details p {
  margin-bottom: 2px;
  padding: 0;
  padding-left: 10px;
}
.dropdown.custom-dropdown .cart-dropdown-menu .cart-menu-container ul li.cart-one-item .details p.cat {
  color: #cfcfcf;
}
.dropdown.custom-dropdown .cart-dropdown-menu .cart-menu-container ul li.cart-one-item .details p.price {
  color: var(--secondaryColor);
  font-size: 14px;
  margin-bottom: 6px;
}
.dropdown.custom-dropdown .cart-dropdown-menu .cart-menu-container ul li.cart-one-item .remove {
  color: #f00;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.dropdown.custom-dropdown .cart-dropdown-menu .cart-menu-container .cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown.custom-dropdown .cart-dropdown-menu .cart-menu-container .cart-footer .total-container span.total-title {
  font-size: 12px;
  color: #cfcfcf;
}
.dropdown.custom-dropdown .cart-dropdown-menu .cart-menu-container .cart-footer .total-container p.total-price {
  font-size: 18px !important;
}
.dropdown.custom-dropdown .cart-dropdown-menu .cart-menu-container .cart-footer a.btn.btn-custom1 {
  font-size: 14px;
}
.dropdown.custom-dropdown .cart-dropdown-menu .cart-menu-container .cart-footer a.btn.btn-custom1 i {
  margin-left: 14px;
}

.data-section {
  width: 40%;
  padding-left: 10px;
}
.data-section .brand-header {
  margin: 15px 0;
}
.data-section .brand-header .brand-logo img {
  width: 60px;
}
.data-section .brand-header .follow-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.data-section .brand-header h3 {
  font-size: 24px;
  text-transform: capitalize;
}
.data-section .brand-header p {
  margin-bottom: 2px;
}
.data-section .brand-details .brand-details-text {
  max-height: 160px;
  overflow-x: hidden;
  overflow-y: auto;
}
.data-section .brand-details .brand-details-text h4 {
  font-size: 21px;
}
.data-section .share .images ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.data-section .share .images ul li {
  margin-right: 5px;
}
.data-section .share .images ul li a img {
  width: 50px;
}
.data-section .share .images ul li a .num {
  background: #fff;
  color: var(--secondaryColor);
  width: 50px;
  height: 50px;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.data-section .share .btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.video-section {
  width: 60%;
  background-image: url(../img/shadow-wallpaper.jpg);
  background-size: 100% 100%;
  position: relative;
}
.video-section .shadow {
  background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0.5) 20%, rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0.5) 80%, black 100%);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.video-section .video-section-content {
  z-index: 2;
  color: #fff;
  font-size: 55px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-section .video-section-content .video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.arrows-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  position: absolute;
  top: 20px;
  right: 100px;
  height: calc(100% - 20px);
}
.arrows-container .expand-video-container {
  position: absolute;
  top: 0;
  left: 10px;
}
.arrows-container .expand-video-container .icon-container {
  background: #fff;
  color: #3c3c3c;
  font-size: 16px;
  border-radius: 500px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.arrows-container .expand-video-container .icon-container i {
  margin-top: 4px;
}
.arrows-container .carousel-control-next,
.arrows-container .carousel-control-prev {
  all: unset;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--mainColor);
  border-radius: 500px;
  color: #fff;
}
.arrows-container .carousel-control-next i.fa,
.arrows-container .carousel-control-prev i.fa {
  font-size: 14px;
}

.homepage {
  background: #000;
  color: #fff;
  height: calc(100% - 58px);
}
.homepage .homepage-content {
  display: flex;
  width: 100%;
  height: 100%;
}
.homepage .homepage-content #home-video-carousel {
  width: 100%;
  display: flex;
}
.homepage .homepage-content #home-video-carousel .carousel-item-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
}
.homepage .homepage-content #home-video-carousel .carousel-item-content .icons-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  width: auto;
}
.homepage .homepage-content #home-video-carousel .carousel-item-content .icons-container .video-icons {
  font-size: 26px;
}
.homepage .homepage-content #home-video-carousel .carousel-item-content .icons-container .video-icons p {
  font-size: 14px;
}
.homepage .homepage-content #home-video-carousel .carousel-item-content .icons-container .video-icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.homepage .homepage-content #home-video-carousel .carousel-item-content .icons-container .video-icons ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.homepage .homepage-content #home-video-carousel .carousel-item-content video {
  width: auto;
}

.left-menu-container {
  position: absolute;
  color: #fff;
  background: RGBA(0, 0, 0, 0.7);
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
}
.left-menu-container.show {
  display: flex;
}
.left-menu-container .left-menu {
  background: var(--mainColor);
  width: 20%;
  height: 100%;
}
.left-menu-container .left-menu .logo-header {
  padding: 20px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-menu-container .left-menu .logo-header i.fa-times {
  font-size: 20px;
  cursor: pointer;
}
.left-menu-container .left-menu .menu {
  padding: 30px 0;
}
.left-menu-container .left-menu .menu ul li {
  margin-bottom: 10px;
}
.left-menu-container .left-menu .menu ul li a {
  color: #fff;
  width: 100%;
  display: flex;
  padding: 10px 15px;
  font-size: 24px;
}
.left-menu-container .left-menu .menu-footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-menu-container .left-menu .menu-footer ul li a {
  color: #fff;
  display: inline-flex;
  width: 50px;
  border: 1px solid #fff;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 500px;
  margin: 0 5px;
}

.signin,
.signup,
.activate {
  background-color: var(--mainColor);
  height: calc(100% - 58px);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin .signin-content,
.signup .signin-content,
.activate .signin-content {
  width: 500px;
  max-width: 100%;
  padding: 10px;
  text-align: center;
}
.signin .signin-content h3,
.signup .signin-content h3,
.activate .signin-content h3 {
  font-size: 22px;
}
.signin .signin-content .logo,
.signup .signin-content .logo,
.activate .signin-content .logo {
  width: 90px;
}
.signin .signin-content .form-container,
.signup .signin-content .form-container,
.activate .signin-content .form-container {
  padding: 30px 0;
  margin-bottom: 15px;
}
.signin .signin-content .form-container form.signin-form .form-group .form-control,
.signup .signin-content .form-container form.signin-form .form-group .form-control,
.activate .signin-content .form-container form.signin-form .form-group .form-control {
  padding-left: 40px;
}
.signin .signin-content .form-container form.signin-form .form-group i,
.signup .signin-content .form-container form.signin-form .form-group i,
.activate .signin-content .form-container form.signin-form .form-group i {
  position: absolute;
  color: #fa935b;
  height: 23px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  top: 10px;
  z-index: 9;
}
.signin .signin-content .form-container form.signin-form .form-group i.fa-envelope,
.signup .signin-content .form-container form.signin-form .form-group i.fa-envelope,
.activate .signin-content .form-container form.signin-form .form-group i.fa-envelope {
  font-size: 18px;
}
.signin .signin-content .form-container form.signin-form .form-group .toggle-password-container,
.signup .signin-content .form-container form.signin-form .form-group .toggle-password-container,
.activate .signin-content .form-container form.signin-form .form-group .toggle-password-container {
  position: absolute;
  right: 0;
  width: 40px;
  height: 100%;
  cursor: pointer;
  top: 0;
}
.signin .signin-content .form-container .forget-password-container a,
.signup .signin-content .form-container .forget-password-container a,
.activate .signin-content .form-container .forget-password-container a {
  color: #fff;
}
.signin .signin-content .page-footer .icons,
.signup .signin-content .page-footer .icons,
.activate .signin-content .page-footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin .signin-content .page-footer .icons li img,
.signup .signin-content .page-footer .icons li img,
.activate .signin-content .page-footer .icons li img {
  width: 60px;
  margin: 0 7px;
}

.signup {
  height: auto;
  padding-top: 30px;
}
.signup .form-group {
  text-align: left !important;
}
.signup .form-group .form-control {
  padding-left: 15px !important;
}
.signup .genders-container .gender {
  display: inline-flex;
  height: 50px;
  background: #fff;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid #fff;
}
.signup .genders-container .gender.active {
  border: 2px solid var(--secondaryColor);
}
.signup #confirmation {
  color: #515c6f;
}

.modal .modal-dialog {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-dialog .modal-content {
  border-radius: 32px;
  padding: 20px;
}
.modal .modal-dialog .modal-content .modal-body {
  font-size: 22px;
  text-align: center;
  padding: 30px;
}
.modal .modal-dialog .modal-content .modal-footer {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}
.modal .modal-dialog .modal-content .modal-footer button {
  width: 200px;
}
.modal .modal-dialog .modal-content .modal-footer button img {
  width: 25px;
  margin-left: 5px;
}

@media all and (max-width: 1024px) {
  .container {
    max-width: 1000px;
    height: unset;
    padding: 0px;
  }

  #top-header .top-header-content .search {
    width: 40%;
  }

  #top-header .top-header-content .count {
    width: 35%;
  }

  .homepage .homepage-content .data-section {
    padding: 10px;
  }

  .brand-header .row .col-md-2.brand-logo {
    width: 20%;
  }

  .brand-header .row .col-md-4,
.brand-header .row .col-md-6 {
    width: 40%;
  }

  .col-md-6.d-flex.bottom-items {
    padding-left: 30px;
  }
}
@media all and (max-width: 850px) {
  body {
    width: 100vw;
    overflow-x: hidden;
    max-width: 100vw;
  }

  .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--mainColor);
    padding-right: 30px;
  }
  .mobile-menu .logo {
    padding: 10px;
  }
  .mobile-menu .icon {
    color: #fff;
    font-size: 28px;
    padding: 10px;
  }

  #top-header .main-menu ul.menu {
    flex-direction: column;
  }
  #top-header .row.top-header-content.show {
    display: flex;
  }
  #top-header .row.top-header-content {
    display: none;
  }
  #top-header .row.top-header-content .col-md-4.top-items {
    flex: unset;
    max-width: 100%;
    width: 100%;
    flex-direction: column;
  }
  #top-header .row.top-header-content .col-md-4.top-items .logo,
#top-header .row.top-header-content .col-md-4.top-items .menu-icon {
    display: none !important;
  }
  #top-header .row.top-header-content .col-md-4.top-items .main-menu {
    margin-bottom: 20px;
    width: 100% !important;
  }
  #top-header .row.top-header-content .col-md-4.top-items .main-menu ul.menu {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  #top-header .row.top-header-content .col-md-8.bottom-items {
    flex-wrap: wrap !important;
    padding-right: 40px;
    padding-left: 20px;
  }
  #top-header .row.top-header-content .col-md-8.bottom-items .search {
    width: 100% !important;
    margin-bottom: 20px;
    padding: 0;
  }
  #top-header .row.top-header-content .col-md-8.bottom-items .count,
#top-header .row.top-header-content .col-md-8.bottom-items .icons {
    width: 25%;
    justify-content: flex-start;
  }
  #top-header .row.top-header-content .col-md-8.bottom-items .user-icons {
    width: 50%;
  }
  #top-header .row.top-header-content .col-md-8.bottom-items .user-icons .dropdown {
    margin-left: 60px;
  }

  .homepage .homepage-content .carousel-item-content {
    flex-direction: column-reverse !important;
  }
  .homepage .homepage-content .carousel-item-content .data-section,
.homepage .homepage-content .carousel-item-content .video-section {
    width: 100%;
  }
  .homepage .homepage-content .carousel-item-content .video-section .video-section-content {
    position: relative;
  }
  .homepage .homepage-content .carousel-item-content .video-section .video-section-content .icons-container {
    position: absolute;
    top: 50px;
    left: 0;
  }
  .homepage .homepage-content .carousel-item-content .video-section .video-section-content video {
    width: 100% !important;
  }
  .homepage .homepage-content .carousel-item-content .video-section .shadow {
    position: absolute;
  }

  div#expand-video {
    display: none;
  }

  .arrows-container {
    position: fixed;
    width: 100%;
    flex-direction: row;
    background: RGBA(0, 0, 0, 0.5);
    bottom: 0;
    padding: 10px;
    top: unset;
    right: unset;
    height: unset;
  }
  .arrows-container .carousel-control-next,
.arrows-container .carousel-control-prev {
    margin: 0 5px !important;
  }
}
@media all and (max-width: 550px) {
  .mobile-menu {
    padding-right: 10px;
  }

  body .row.top-header-content .col-md-8.bottom-items .count,
body .row.top-header-content .col-md-8.bottom-items .icons {
    width: 50% !important;
    margin-bottom: 20px;
  }
  body .row.top-header-content .col-md-8.bottom-items .user-icons {
    width: 100% !important;
    flex-wrap: wrap;
  }
  body .row.top-header-content .col-md-8.bottom-items .user-icons .dropdown {
    margin-left: 10px !important;
    margin-bottom: 20px;
  }
  body .row.top-header-content .col-md-8.bottom-items .user-icons a.btn.btn-custom1 {
    margin-bottom: 20px;
  }

  .share {
    margin: 30px 0;
  }
  .share p {
    text-align: center;
  }

  .homepage .homepage-content .data-section .brand-details .brand-details-text {
    max-height: unset;
  }

  .homepage .homepage-content .data-section .share .btns,
.homepage .homepage-content .data-section .share .images ul {
    justify-content: center;
    align-items: center;
  }
}
.counter {
  width: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: #f6f6f6;
}

.counter input {
  width: 30px;
  border: 0;
  line-height: 0;
  font-size: 14px;
  text-align: center;
  background: #f6f6f6;
  color: #000;
  appearance: none;
  outline: 0;
  height: 30px;
}

.counter span {
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  color: #6f6f6f;
  background: #f6f6f6;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter span i {
  font-size: 10px;
}

/*# sourceMappingURL=style.css.map */
