.create-store-page {
  /* Accessibility */
  /*
      Wizard
  */
}
.create-store-page .wizard,
.create-store-page .tabcontrol {
  display: block;
  width: 100%;
}
.create-store-page .wizard ul > li,
.create-store-page .tabcontrol ul > li {
  display: block;
  padding: 0;
}
.create-store-page .wizard > .steps .current-info,
.create-store-page .tabcontrol > .steps .current-info {
  position: absolute;
  left: -999em;
}
.create-store-page .wizard > .content > .title,
.create-store-page .tabcontrol > .content > .title {
  position: absolute;
  left: -999em;
}
.create-store-page .wizard > .steps {
  position: relative;
  display: block;
  width: 100%;
}
.create-store-page .wizard.vertical > .steps {
  display: inline;
  float: left;
  width: 30%;
}
.create-store-page .wizard > .steps .number {
  font-size: 1.429em;
}
.create-store-page .wizard > .steps > ul > li {
  width: 120px;
  position: relative;
}
.create-store-page .wizard > .steps > ul > li,
.create-store-page .wizard > .actions > ul > li {
  float: left;
}
.create-store-page .wizard.vertical > .steps > ul > li {
  float: none;
  width: 100%;
}
.create-store-page .wizard > .steps a,
.create-store-page .wizard > .steps a:hover,
.create-store-page .wizard > .steps a:active {
  display: block;
  width: auto;
  margin: 0 0.5em 0.5em;
  padding: 1em 1em;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.create-store-page .wizard > .steps .disabled a,
.create-store-page .wizard > .steps .disabled a:hover,
.create-store-page .wizard > .steps .disabled a:active {
  background: #eee;
  color: #aaa;
  cursor: default;
}
.create-store-page .wizard > .steps .current a,
.create-store-page .wizard > .steps .current a:hover,
.create-store-page .wizard > .steps .current a:active {
  background: #fcfcfc;
  color: #111;
  cursor: default;
}
.create-store-page .wizard > .steps .done a,
.create-store-page .wizard > .steps .done a:hover,
.create-store-page .wizard > .steps .done a:active {
  background: #4caf50;
  color: #fff;
}
.create-store-page .wizard > .steps .error a,
.create-store-page .wizard > .steps .error a:hover,
.create-store-page .wizard > .steps .error a:active {
  background: #ff3111;
  color: #fff;
}
.create-store-page .wizard > .content {
  display: block;
  margin: 0.5em;
  min-height: 35em;
  position: relative;
  width: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.create-store-page .wizard.vertical > .content {
  display: inline;
  float: left;
  margin: 0 2.5% 0.5em 2.5%;
  width: 100%;
}
.create-store-page .wizard > .content > .body {
  float: left;
  position: relative;
  width: 100%;
  padding: 20px 0;
  height: fit-content;
}
.create-store-page .wizard > .content > .body ul {
  list-style: disc !important;
}
.create-store-page .wizard > .content > .body ul > li {
  display: list-item;
}
.create-store-page .wizard > .actions {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
}
.create-store-page .wizard.vertical > .actions {
  display: inline;
  float: right;
  margin: 0 2.5%;
  width: 95%;
}
.create-store-page .wizard > .actions > ul {
  display: inline-block;
  text-align: center;
}
.create-store-page .wizard > .actions > ul > li {
  margin: 0 0.5em;
}
.create-store-page .wizard.vertical > .actions > ul > li {
  margin: 0 0 0 1em;
}
.create-store-page .wizard > .actions a,
.create-store-page .wizard > .actions a:hover,
.create-store-page .wizard > .actions a:active {
  color: #fff;
  background-color: var(--secondaryColor);
  border-color: var(--secondaryColor);
  padding: 8px 35px !important;
  border-radius: 8px;
  font-size: 18px;
}
.create-store-page .wizard > .actions .disabled a,
.create-store-page .wizard > .actions .disabled a:hover,
.create-store-page .wizard > .actions .disabled a:active {
  background: #eee;
  color: #aaa;
}
.create-store-page #contact button[type=submit] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4caf50;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
.create-store-page #contact button[type=submit]:hover {
  background: #43a047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.create-store-page #contact button[type=submit]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.company-banner-and-logo-wrapper {
  position: relative;
  margin-bottom: 120px;
}
.company-banner-and-logo-wrapper i.fa-camera {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  padding: 6px;
  font-size: 18px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px #00000024;
  cursor: pointer;
  color: #fa935b;
}
.company-banner-and-logo-wrapper .banner-wrapper {
  overflow: hidden;
}
.company-banner-and-logo-wrapper .banner-wrapper img.banner-image {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  max-height: 300px;
}
.company-banner-and-logo-wrapper .logo-wrapper {
  position: absolute;
  bottom: -80px;
  left: 50px;
  width: 160px;
  height: 160px;
  border-radius: 20px;
  overflow: hidden;
  padding: 7px;
  background: #e7ebf1;
}
.company-banner-and-logo-wrapper .logo-wrapper img.logo-image {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.profile.small-content .profile-data-content {
  overflow: hidden;
}

.steps ul {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.steps ul li {
  float: none !important;
  width: 20%;
}
.steps ul li a {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: none !important;
  font-size: 14px;
  line-height: 1.3;
}
.steps ul li a span.number {
  background: #a7a5a5;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  color: #fff;
  margin-bottom: 10px;
}
.steps ul li.current a {
  color: #fa935b !important;
}
.steps ul li.current a span.number {
  background: #fa935b !important;
}
.steps ul li.done a {
  color: #131a45 !important;
}
.steps ul li.done a span.number {
  background: #131a45 !important;
}

.wizard > .steps ul li a span {
  position: relative;
}

.wizard > .steps ul li a span:after {
  content: "";
  width: 100%;
  background: #a7a5a5;
  height: 2px;
  position: absolute;
  top: 30px;
  right: 100%;
}

li.first a span:after {
  content: none !important;
}

.edit-image-wrapper {
  position: relative;
}
.edit-image-wrapper.main-image {
  width: 100%;
}
.edit-image-wrapper img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.edit-image-wrapper i.icon {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  padding: 6px;
  font-size: 12px;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: #616161;
  cursor: pointer;
}
.edit-image-wrapper .loading-container {
  display: none;
}
.edit-image-wrapper.has-loading img {
  opacity: 0.4;
}
.edit-image-wrapper.has-loading .loading-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: RGBA(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
}
.edit-image-wrapper.has-loading .loading-container .loader {
  height: 40px;
  width: 40px;
  color: rgba(90, 90, 90, 0);
  position: relative;
  display: inline-block;
  border: 2px solid;
  border-radius: 50%;
  border-right-color: #ffffff;
  animation: rotate 1s linear infinite;
}

/*# sourceMappingURL=steps-custom.css.map */
