.tags-input{
    width: 100%;
}

.tags-input input{
    min-height: 30px;
}

.tags-input input:focus{ 
    box-shadow: none; 
}

.tags-input .tag{
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 12px;
    color: black;
    margin: 5px;
    display: inline-block;
    background: #fff;
}

.tags-input .tag .text{
    margin-right: 5px;
}
.tags-input .tag .close{
    border-radius: 50%;
    min-height: 20px;
    padding-left: 4px;
    cursor: pointer;
    padding-right: 4px;
    color: red;
    font-weight: bolder;
    font-size: 18px;
}

.tags-input .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    width: 100%;
}
.tags-input .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    left: 0;
    right: 0;
    bottom: 0;
}
.tags-input .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.tags-input .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.tags-input .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}


#myTags {
    display: flex;
    flex-direction: column;
}

.syntaxhighlighter {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: lighter;
}

.attachment-full {
    position: absolute;
    top: 0px;
    left: 0px;
}

